Repository COS-301/graduates, pull requests merged in 2022-04, with the labels that each got.

#308 💄(styling): Added global color palette
  apps/client/src/styles.scss
  libs/client/shared/assets/global.scss
  libs/client/shell/feature/src/lib/feature.component.html
  libs/client/shell/feature/src/lib/feature.component.scss
Labels: priority:medium, scope:client, status:ready, type:cosmetic, role:ui-engineer, scope:design, scope:ui

#401 ✨ (api): Added request for access and access status scaffolding
  libs/api/access-status/service/feature/.babelrc
  libs/api/access-status/service/feature/.eslintrc.json
  libs/api/access-status/service/feature/README.md
  libs/api/access-status/service/feature/jest.config.js
  libs/api/access-status/service/feature/project.json
  libs/api/access-status/service/feature/src/index.ts
  libs/api/access-status/service/feature/src/lib/access-status.service.spec.ts
  libs/api/access-status/service/feature/src/lib/access-status.service.ts
  libs/api/access-status/service/feature/src/lib/api-access-status-service-feature.module.ts
  libs/api/access-status/service/feature/tsconfig.json
  libs/api/access-status/service/feature/tsconfig.lib.json
  libs/api/access-status/service/feature/tsconfig.spec.json
  libs/api/request-access/service/feature/.eslintrc.json
  libs/api/request-access/service/feature/README.md
  libs/api/request-access/service/feature/jest.config.js
  libs/api/request-access/service/feature/project.json
  libs/api/request-access/service/feature/src/index.ts
  libs/api/request-access/service/feature/src/lib/api-request-access-service-feature.module.ts
  libs/api/request-access/service/feature/src/lib/request-access.service.spec.ts
  libs/api/request-access/service/feature/src/lib/request-access.service.ts
  libs/api/request-access/service/feature/tsconfig.json
  libs/api/request-access/service/feature/tsconfig.lib.json
  libs/api/request-access/service/feature/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: priority:low, status:ready, role:service-engineer, scope:cicd

#443 🤡(ui): Add basic request-for-access interface
  libs/client/request-for-access/feature/.eslintrc.json
  libs/client/request-for-access/feature/README.md
  libs/client/request-for-access/feature/jest.config.js
  libs/client/request-for-access/feature/project.json
  libs/client/request-for-access/feature/src/index.ts
  libs/client/request-for-access/feature/src/lib/request-for-access.component.html
  libs/client/request-for-access/feature/src/lib/request-for-access.component.scss
  libs/client/request-for-access/feature/src/lib/request-for-access.component.spec.ts
  libs/client/request-for-access/feature/src/lib/request-for-access.component.ts
  libs/client/request-for-access/feature/src/lib/request-for-access.module.ts
  libs/client/request-for-access/feature/src/test-setup.ts
  libs/client/request-for-access/feature/tsconfig.json
  libs/client/request-for-access/feature/tsconfig.lib.json
  libs/client/request-for-access/feature/tsconfig.spec.json
  tsconfig.base.json
Labels: priority:high, scope:client, role:ui-engineer, scope:ui

#447 ✅ (CI/CD) : Added Bases for meta test
  .github/workflows/index.yml
  .github/workflows/metatest.yml
Labels: priority:medium, status:ready, type:enhance, role:developer-operations, scope:cicd

#448 ✅ (CI/CD) : Added priority label check
  .github/workflows/metatest.yml
Labels: priority:medium, status:ready, type:enhance, role:developer-operations, scope:cicd

#449 ✅ (CI/CD) : Added type check
  .github/workflows/metatest.yml
Labels: priority:medium, status:ready, type:enhance, role:developer-operations, scope:cicd

#451 ✅ (CI/CD) : Status label check
  .github/workflows/metatest.yml
Labels: priority:medium, status:ready, type:enhance, role:developer-operations, scope:cicd

#452 ✅ (CI/CD): Added Scope and Role label check
  .github/workflows/metatest.yml
Labels: priority:medium, status:ready, type:enhance, role:developer-operations, scope:cicd

#453 ✅ (CI/CD): Added Milestone check
  .github/workflows/index.yml
  .github/workflows/metatest.yml
Labels: priority:medium, status:ready, type:enhance, role:developer-operations, scope:cicd

#457 ✅ (CI/CD): Added scope:repository
  .github/workflows/metatest.yml
Labels: priority:medium, status:ready, type:enhance, role:developer-operations, scope:cicd

#455 👩‍💻🔥💡(storage) : Added access functions to firebase repository
  libs/api/storage/api/feature/src/lib/api-storage.resolver.ts
  libs/api/storage/repository/data-access/src/lib/FirebaseRepository.repository.ts
  libs/api/storage/repository/data-access/src/lib/StorageRepository.repository.ts
  libs/api/storage/uploads/361dbc218c118c2b1969b3ff2170171f
  libs/api/storage/uploads/69452fad3b141b79a50f1573b2af7c04
  package.json
  yarn.lock
Labels: priority:high, status:ready, type:chore, role:data-engineer, scope:repository

#333 ✨ (graphql)Added mock API and mock repository data-access
  libs/api/adminconsole/api/feature/src/lib/api-adminconsole.module.ts
  libs/api/adminconsole/api/feature/src/lib/api-adminconsole.resolver.ts
  libs/api/adminconsole/repository/data-access/src/lib/api-adminconsole-repository-data-access.module.ts
  libs/api/adminconsole/repository/data-access/src/lib/api-adminconsole.entity.ts
  nest-cli.json
  package-lock.json
  package.json
Labels: priority:high, scope:api, scope:db, role:api-engineer

#470 🗃 (db): Fixed .env file, fixed nomenclature for some relations
  .env
  prisma/migrations/20220404150339_fixed_name_mappings/migration.sql
  prisma/schema.prisma
Labels: priority:high, scope:db, status:ready, type:fix, role:data-engineer

#480 ✅ (CI/CD) : Updated Requirements for meta
  .github/workflows/metatest.yml
Labels: priority:medium, status:ready, type:fix, role:developer-operations, scope:cicd

#475 🔥(api): Removed resolver for authentication
  libs/api/authentication/api/feature/src/lib/api-authentication-api-feature.module.ts
  libs/api/authentication/api/feature/src/lib/users/users.module.ts
  libs/api/authentication/api/feature/src/lib/users/users.resolver.ts
Labels: priority:high, scope:api, status:ready, type:fix, role:api-engineer

#482 🐛 (repo): Fixing issues with projects
  .github/workflows/metatest.yml
  .gitignore
  README.md
  libs/api/authentication/api/feature/README.md
  libs/api/authentication/api/feature/src/lib/api-authentication-api-feature.module.ts
  libs/api/authentication/api/shared/interfaces/data-access/.babelrc
  libs/api/authentication/api/shared/interfaces/data-access/README.md
  libs/api/authentication/api/shared/interfaces/data-access/jest.config.js
  libs/api/authentication/api/shared/interfaces/data-access/project.json
  libs/api/authentication/api/shared/interfaces/data-access/src/index.ts
  libs/api/authentication/api/shared/interfaces/data-access/tsconfig.json
  libs/api/authentication/api/shared/interfaces/data-access/tsconfig.lib.json
  libs/api/authentication/api/shared/interfaces/data-access/tsconfig.spec.json
  libs/api/authentication/repository/data-access/.babelrc
  libs/api/authentication/repository/data-access/README.md
  libs/api/authentication/repository/data-access/jest.config.js
  libs/api/authentication/repository/data-access/project.json
  libs/api/authentication/repository/data-access/src/lib/api-authentication-repository-data-access.module.ts
  libs/api/authentication/repository/data-access/tsconfig.json
  libs/api/authentication/repository/data-access/tsconfig.lib.json
  libs/api/authentication/repository/data-access/tsconfig.spec.json
  libs/api/authentication/repository/shared/interfaces/data-access/.babelrc
  libs/api/authentication/repository/shared/interfaces/data-access/README.md
  libs/api/authentication/repository/shared/interfaces/data-access/jest.config.js
  libs/api/authentication/repository/shared/interfaces/data-access/project.json
  libs/api/authentication/repository/shared/interfaces/data-access/tsconfig.json
  libs/api/authentication/repository/shared/interfaces/data-access/tsconfig.lib.json
  libs/api/authentication/repository/shared/interfaces/data-access/tsconfig.spec.json
  libs/api/authentication/service/feature/.babelrc
  libs/api/authentication/service/feature/README.md
  libs/api/authentication/service/feature/jest.config.js
  libs/api/authentication/service/feature/project.json
  libs/api/authentication/service/feature/src/index.ts
  libs/api/authentication/service/feature/src/lib/api-authentication-api-feature.service.ts
  libs/api/authentication/service/feature/src/lib/api-authentication-service-feature.module.ts
  libs/api/authentication/service/feature/tsconfig.json
  libs/api/authentication/service/feature/tsconfig.lib.json
  libs/api/authentication/service/feature/tsconfig.spec.json
  libs/api/authentication/service/shared/interfaces/data-access/.babelrc
  libs/api/authentication/service/shared/interfaces/data-access/.eslintrc.json
  libs/api/authentication/service/shared/interfaces/data-access/README.md
  libs/api/authentication/service/shared/interfaces/data-access/jest.config.js
  libs/api/authentication/service/shared/interfaces/data-access/project.json
  libs/api/authentication/service/shared/interfaces/data-access/src/index.ts
  libs/api/authentication/service/shared/interfaces/data-access/tsconfig.json
  libs/api/authentication/service/shared/interfaces/data-access/tsconfig.lib.json
  libs/api/authentication/service/shared/interfaces/data-access/tsconfig.spec.json
  nest-cli.json
  package-lock.json
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: priority:high, status:ready, type:fix, role:project-owner, role:project-manager, scope:repository

#481 :sparkles: (request-access): Request access mutation now requires input parameters
  libs/api/request-access/api/feature/src/lib/api-request-access.resolver.ts
Labels: priority:medium, scope:api, status:ready, type:feature, role:api-engineer

#458 💄(ui): Added Filter UI Component #386
  .gitignore
  libs/client/student-explore/.eslintrc.json
  libs/client/student-explore/README.md
  libs/client/student-explore/jest.config.js
  libs/client/student-explore/project.json
  libs/client/student-explore/src/index.ts
  libs/client/student-explore/src/lib/client-student-explore.module.ts
  libs/client/student-explore/src/lib/filter/filter.component.html
  libs/client/student-explore/src/lib/filter/filter.component.scss
  libs/client/student-explore/src/lib/filter/filter.component.spec.ts
  libs/client/student-explore/src/lib/filter/filter.component.ts
  libs/client/student-explore/src/lib/student-card/student-card.component.html
  libs/client/student-explore/src/lib/student-card/student-card.component.scss
  libs/client/student-explore/src/lib/student-card/student-card.component.spec.ts
  libs/client/student-explore/src/lib/student-card/student-card.component.ts
  libs/client/student-explore/src/test-setup.ts
  libs/client/student-explore/tsconfig.json
  libs/client/student-explore/tsconfig.lib.json
  libs/client/student-explore/tsconfig.spec.json
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: priority:high, status:needs-info, type:feature, role:ui-engineer, scope:ui

#488 💄(ui): Add universal breakpoints to global styles
  libs/client/shared/assets/global.scss
Labels: priority:high, scope:client, status:ready, type:enhance, role:ui-engineer, scope:ui

#491 UI(shorts)
  libs/client/shorts/.babelrc
  libs/client/shorts/.eslintrc.json
  libs/client/shorts/README.md
  libs/client/shorts/jest.config.js
  libs/client/shorts/project.json
  libs/client/shorts/src/index.ts
  libs/client/shorts/src/lib/client-shorts.spec.ts
  libs/client/shorts/src/lib/client-shorts.ts
  libs/client/shorts/tsconfig.json
  libs/client/shorts/tsconfig.lib.json
  libs/client/shorts/tsconfig.spec.json
  package.json
  tsconfig.base.json
  workspace.json
Labels: priority:medium, status:not-ready, type:feature, role:ui-engineer, scope:design, scope:ui

#489 🚧(ui): Work on responsive design
  libs/client/request-for-access/feature/src/lib/request-for-access.component.html
  libs/client/request-for-access/feature/src/lib/request-for-access.component.scss
  libs/client/request-for-access/feature/src/lib/request-for-access.module.ts
Labels: priority:high, scope:client, status:ready, type:enhance, role:ui-engineer, scope:ui

#456 ✨ (Student Profile): Created Student Profile directory
  .gitignore
  libs/client/student-profile/feature/.browserslistrc
  libs/client/student-profile/feature/.eslintrc.json
  libs/client/student-profile/feature/README.md
  libs/client/student-profile/feature/jest.config.js
  libs/client/student-profile/feature/ng-package.json
  libs/client/student-profile/feature/package.json
  libs/client/student-profile/feature/project.json
  libs/client/student-profile/feature/src/index.ts
  libs/client/student-profile/feature/src/lib/client-student-profile-feature.module.ts
  libs/client/student-profile/feature/src/test-setup.ts
  libs/client/student-profile/feature/tailwind.config.js
  libs/client/student-profile/feature/tsconfig.json
  libs/client/student-profile/feature/tsconfig.lib.json
  libs/client/student-profile/feature/tsconfig.lib.prod.json
  libs/client/student-profile/feature/tsconfig.spec.json
  package.json
  tsconfig.base.json
  workspace.json
Labels: priority:high, scope:client, status:ready, type:feature, role:ui-engineer, scope:ui

#496 📝(docs): update the contributing guidelines
  CONTRIBUTING.md
Labels: priority:low, status:ready, type:documentation, role:developer-operations, scope:repository

#484 ✅ (test): Added draft unit testing
  libs/api/adminconsole/api/feature/src/lib/api-adminconsole-api-feature.controller.spec.ts
  libs/api/adminconsole/api/feature/src/lib/api-adminconsole-api-feature.controller.ts
Labels: priority:low, status:needs-info, type:test, role:tester, scope:repository

#513 :ok_hand: (request-access): AccessStatus now takes two parameters
  libs/api/access-status/api/feature/src/lib/api-access-status.resolver.ts
  libs/api/access-status/api/feature/src/lib/api-access-status.service.ts
Labels: priority:medium, scope:api, status:ready, type:change, type:fix, role:api-engineer

#515 🗃️ (blog): Added data-access and api libs
  libs/api/blog/repository/data-access/.eslintrc.json
  libs/api/blog/repository/data-access/README.md
  libs/api/blog/repository/data-access/jest.config.js
  libs/api/blog/repository/data-access/project.json
  libs/api/blog/repository/data-access/src/index.ts
  libs/api/blog/repository/data-access/src/lib/api-blog-repository-data-access.module.ts
  libs/api/blog/repository/data-access/tsconfig.json
  libs/api/blog/repository/data-access/tsconfig.lib.json
  libs/api/blog/repository/data-access/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: priority:low, scope:api, status:on-hold, type:feature, role:api-engineer, role:developer-operations, scope:repository

#490 ✨(ui): create Company-Explore directory and layout
  libs/client/company-explore/feature/.eslintrc.json
  libs/client/company-explore/feature/README.md
  libs/client/company-explore/feature/jest.config.js
  libs/client/company-explore/feature/project.json
  libs/client/company-explore/feature/src/index.ts
  libs/client/company-explore/feature/src/lib/client-company-explore-feature.module.spec.ts
  libs/client/company-explore/feature/src/lib/client-company-explore-feature.module.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-banner/company-explore-banner.component.html
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-banner/company-explore-banner.component.scss
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-banner/company-explore-banner.component.spec.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-banner/company-explore-banner.component.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-content/company-explore-card/company-explore-card.component.html
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-content/company-explore-card/company-explore-card.component.scss
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-content/company-explore-card/company-explore-card.component.spec.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-content/company-explore-card/company-explore-card.component.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-content/company-explore-content.component.html
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-content/company-explore-content.component.scss
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-content/company-explore-content.component.spec.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-content/company-explore-content.component.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-feature.component.html
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-feature.component.scss
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-feature.component.spec.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-feature.component.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-operations-bar/company-explore-filter/company-explore-filter.component.html
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-operations-bar/company-explore-filter/company-explore-filter.component.scss
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-operations-bar/company-explore-filter/company-explore-filter.component.spec.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-operations-bar/company-explore-filter/company-explore-filter.component.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-operations-bar/company-explore-operations-bar.component.html
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-operations-bar/company-explore-operations-bar.component.scss
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-operations-bar/company-explore-operations-bar.component.spec.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-operations-bar/company-explore-operations-bar.component.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-operations-bar/company-explore-searchbar/company-explore-searchbar.component.html
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-operations-bar/company-explore-searchbar/company-explore-searchbar.component.scss
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-operations-bar/company-explore-searchbar/company-explore-searchbar.component.spec.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-operations-bar/company-explore-searchbar/company-explore-searchbar.component.ts
  libs/client/company-explore/feature/src/lib/materials/company-explore-material.module.ts
  libs/client/company-explore/feature/src/test-setup.ts
  libs/client/company-explore/feature/tsconfig.json
  libs/client/company-explore/feature/tsconfig.lib.json
  libs/client/company-explore/feature/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: priority:low, status:ready, type:feature, role:ui-engineer, scope:ui

#532 ✨(Architecture ) Dockerfile Merge
  apps/api/Dockerfile
  docker-compose.yml
Labels: priority:medium, scope:api, status:ready, type:feature, role:developer-operations

#534 ✅ (story): Renamed story to short
  libs/api/shorts/repository/data-access/src/lib/ApiShortsRepository.repository.ts
  prisma/migrations/20220411120856_renamed_story_to_short/migration.sql
  prisma/schema.prisma
Labels: priority:low, scope:db, status:ready, type:change, role:data-engineer

#524 :art: rebuilt shorts UI lib and added report-menu component to it
  libs/client/shorts/feature/.browserslistrc
  libs/client/shorts/feature/ng-package.json
  libs/client/shorts/feature/package.json
  libs/client/shorts/feature/project.json
  libs/client/shorts/feature/src/lib/client-shorts-feature.module.ts
  libs/client/shorts/feature/src/lib/report-menu/report-menu.component.html
  libs/client/shorts/feature/src/lib/report-menu/report-menu.component.scss
  libs/client/shorts/feature/src/lib/report-menu/report-menu.component.spec.ts
  libs/client/shorts/feature/src/lib/report-menu/report-menu.component.ts
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.html
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.scss
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.spec.ts
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.ts
  libs/client/shorts/feature/src/lib/story-selected/story-selected.component.html
  libs/client/shorts/feature/src/lib/story-selected/story-selected.component.scss
  libs/client/shorts/feature/src/lib/story-selected/story-selected.component.spec.ts
  libs/client/shorts/feature/src/lib/story-selected/story-selected.component.ts
  libs/client/shorts/feature/src/lib/story-upload/story-upload.component.html
  libs/client/shorts/feature/src/lib/story-upload/story-upload.component.scss
  libs/client/shorts/feature/src/lib/story-upload/story-upload.component.spec.ts
  libs/client/shorts/feature/src/lib/story-upload/story-upload.component.ts
  libs/client/shorts/feature/tsconfig.lib.prod.json
  package.json
  yarn.lock
Labels: priority:low, status:not-ready, type:fix, type:refactor, role:ui-engineer, scope:ui

#539 ✅ (api): Update Hosting Api
  libs/api/hosting/service/feature/src/lib/api-hosting-service-feature.ts
Labels: priority:high, scope:api, status:ready, type:change, role:api-engineer

#561 🎨 Feature/notifications Corrected file structure
  libs/client/notifications/feature/.eslintrc.json
  libs/client/notifications/feature/README.md
  libs/client/notifications/feature/jest.config.js
  libs/client/notifications/feature/project.json
  libs/client/notifications/feature/src/index.ts
  libs/client/notifications/feature/src/lib/client-notifications-feature.module.spec.ts
  libs/client/notifications/feature/src/lib/client-notifications-feature.module.ts
  libs/client/notifications/feature/src/lib/footer/footer.component.html
  libs/client/notifications/feature/src/lib/footer/footer.component.scss
  libs/client/notifications/feature/src/lib/footer/footer.component.spec.ts
  libs/client/notifications/feature/src/lib/footer/footer.component.ts
  libs/client/notifications/feature/src/lib/header/header.component.html
  libs/client/notifications/feature/src/lib/header/header.component.scss
  libs/client/notifications/feature/src/lib/header/header.component.spec.ts
  libs/client/notifications/feature/src/lib/header/header.component.ts
  libs/client/notifications/feature/src/lib/notif-display/notif-display.component.html
  libs/client/notifications/feature/src/lib/notif-display/notif-display.component.scss
  libs/client/notifications/feature/src/lib/notif-display/notif-display.component.spec.ts
  libs/client/notifications/feature/src/lib/notif-display/notif-display.component.ts
  libs/client/notifications/feature/src/test-setup.ts
  libs/client/notifications/feature/tsconfig.json
  libs/client/notifications/feature/tsconfig.lib.json
  libs/client/notifications/feature/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: priority:medium, status:needs-tests, type:change, type:feature, role:ui-engineer, scope:ui

#541 ✨(api):Add api endpoints for student profiles
  libs/api/student-profiles/api/feature/src/lib/api-student-profiles.resolver.ts
  libs/api/student-profiles/api/shared/data-access/src/index.ts
  libs/api/student-profiles/api/shared/data-access/src/lib/api-student-profiles-input.entity.spec.ts
  libs/api/student-profiles/api/shared/data-access/src/lib/api-student-profiles-input.entity.ts
  libs/api/student-profiles/api/shared/data-access/src/lib/api-student-profiles.entity.ts
  libs/api/student-profiles/service/feature/src/lib/api-student-profiles.service.ts
Labels: priority:medium, scope:api, status:needs-tests, status:ready, type:feature, role:api-engineer

#560 💄(UI) : Adding company-representative-feature
  libs/client/company-representative/feature/.eslintrc.json
  libs/client/company-representative/feature/README.md
  libs/client/company-representative/feature/jest.config.js
  libs/client/company-representative/feature/project.json
  libs/client/company-representative/feature/src/index.ts
  libs/client/company-representative/feature/src/lib/client-company-representative-feature.module.spec.ts
  libs/client/company-representative/feature/src/lib/client-company-representative-feature.module.ts
  libs/client/company-representative/feature/src/lib/company-representative-about/company-representative-about.component.html
  libs/client/company-representative/feature/src/lib/company-representative-about/company-representative-about.component.scss
  libs/client/company-representative/feature/src/lib/company-representative-about/company-representative-about.component.spec.ts
  libs/client/company-representative/feature/src/lib/company-representative-about/company-representative-about.component.ts
  libs/client/company-representative/feature/src/lib/company-representative-connections/company-representative-connections.component.html
  libs/client/company-representative/feature/src/lib/company-representative-connections/company-representative-connections.component.scss
  libs/client/company-representative/feature/src/lib/company-representative-connections/company-representative-connections.component.spec.ts
  libs/client/company-representative/feature/src/lib/company-representative-connections/company-representative-connections.component.ts
  libs/client/company-representative/feature/src/lib/company-representative-contact/company-representative-contact.component.html
  libs/client/company-representative/feature/src/lib/company-representative-contact/company-representative-contact.component.scss
  libs/client/company-representative/feature/src/lib/company-representative-contact/company-representative-contact.component.spec.ts
  libs/client/company-representative/feature/src/lib/company-representative-contact/company-representative-contact.component.ts
  libs/client/company-representative/feature/src/lib/company-representative-experience/company-representative-experience.component.html
  libs/client/company-representative/feature/src/lib/company-representative-experience/company-representative-experience.component.scss
  libs/client/company-representative/feature/src/lib/company-representative-experience/company-representative-experience.component.spec.ts
  libs/client/company-representative/feature/src/lib/company-representative-experience/company-representative-experience.component.ts
  libs/client/company-representative/feature/src/lib/company-representative-page/company-representative-page.component.html
  libs/client/company-representative/feature/src/lib/company-representative-page/company-representative-page.component.scss
  libs/client/company-representative/feature/src/lib/company-representative-page/company-representative-page.component.spec.ts
  libs/client/company-representative/feature/src/lib/company-representative-page/company-representative-page.component.ts
  libs/client/company-representative/feature/src/lib/company-representative-title/company-representative-title.component.html
  libs/client/company-representative/feature/src/lib/company-representative-title/company-representative-title.component.scss
  libs/client/company-representative/feature/src/lib/company-representative-title/company-representative-title.component.spec.ts
  libs/client/company-representative/feature/src/lib/company-representative-title/company-representative-title.component.ts
  libs/client/company-representative/feature/src/test-setup.ts
  libs/client/company-representative/feature/tsconfig.json
  libs/client/company-representative/feature/tsconfig.lib.json
  libs/client/company-representative/feature/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: priority:high, scope:client, status:not-ready, type:feature, role:ui-engineer, scope:ui

#563 :bug: Feature/shorts (UI)
  libs/client/shorts/feature/.browserslistrc
  libs/client/shorts/feature/ng-package.json
  libs/client/shorts/feature/package.json
  libs/client/shorts/feature/project.json
  libs/client/shorts/feature/src/lib/client-shorts-feature.module.ts
  libs/client/shorts/feature/src/lib/report-menu/report-menu.component.scss
  libs/client/shorts/feature/src/lib/report-menu/report-menu.component.ts
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.html
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.spec.ts
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.ts
  libs/client/shorts/feature/src/lib/story-upload/story-upload.component.ts
  libs/client/shorts/feature/tsconfig.lib.prod.json
Labels: priority:medium, status:not-ready, type:bug, role:ui-engineer, scope:ui

#573 ✨ (ui):create CompanyProfile directory and layout
  libs/client/companyProfile/feature/.eslintrc.json
  libs/client/companyProfile/feature/README.md
  libs/client/companyProfile/feature/jest.config.js
  libs/client/companyProfile/feature/project.json
  libs/client/companyProfile/feature/src/index.ts
  libs/client/companyProfile/feature/src/lib/companyProfile-routing.module.ts
  libs/client/companyProfile/feature/src/lib/companyProfile.module.ts
  libs/client/companyProfile/feature/src/lib/companyProfile/companyProfile.component.html
  libs/client/companyProfile/feature/src/lib/companyProfile/companyProfile.component.scss
  libs/client/companyProfile/feature/src/lib/companyProfile/companyProfile.component.spec.ts
  libs/client/companyProfile/feature/src/lib/companyProfile/companyProfile.component.ts
  libs/client/companyProfile/feature/src/lib/editingPage/editingPage.component.html
  libs/client/companyProfile/feature/src/lib/editingPage/editingPage.component.scss
  libs/client/companyProfile/feature/src/lib/editingPage/editingPage.component.spec.ts
  libs/client/companyProfile/feature/src/lib/editingPage/editingPage.component.ts
  libs/client/companyProfile/feature/src/test-setup.ts
  libs/client/companyProfile/feature/tsconfig.json
  libs/client/companyProfile/feature/tsconfig.lib.json
  libs/client/companyProfile/feature/tsconfig.spec.json
Labels: priority:high, status:ready, type:feature, role:ui-engineer, scope:ui

#574 ✅ (CI/CD): Creation of release pipeine
  .github/workflows/release.yml
Labels: priority:medium, status:ready, type:feature, role:developer-operations, scope:cicd

#575 ✅ (CI/CD) : Cypress cache and dispatch test types
  .github/workflows/nxtest.yml
Labels: priority:medium, status:ready, type:enhance, role:tester, scope:cicd

#577 ✅ (CI/CD): Added conditional structures to test
  .github/workflows/nxtest.yml
Labels: priority:medium, status:ready, type:feature, role:developer-operations, scope:cicd

#579 :white_check_mark: (CI/CD): Added choices for dispatch
  .github/workflows/index.yml
Labels: priority:medium, status:ready, type:enhance, role:developer-operations, scope:cicd

#580 ✅(CI/CD) : Restructure of index.yml
  .github/workflows/index.yml
Labels: priority:high, status:ready, type:change, role:developer-operations, scope:cicd

#582 :white_check_mark: (CI/CD): Removed Metatest from workflow call
  .github/workflows/metatest.yml
Labels: priority:medium, status:ready, type:change, role:developer-operations, scope:cicd

#598 ✅(CI/CD) : Removed mock e2e
  apps/client-e2e/src/integration/app.spec.ts
Labels: priority:high, status:ready, type:fix, role:developer-operations, scope:cicd

#603 👽️✏️🔥(storage): Added access functions to the storage and firebase repository
  libs/api/storage/api/feature/src/lib/api-storage.resolver.ts
  libs/api/storage/api/shared/data-access/src/lib/api-storage.entity.ts
  libs/api/storage/repository/data-access/src/lib/FirebaseRepository.repository.ts
  libs/api/storage/repository/data-access/src/lib/StorageRepository.repository.ts
  libs/api/storage/service/feature/src/lib/api-storage-service-feature.ts
  package.json
  yarn.lock
Labels: priority:high, scope:api, scope:db, status:ready, type:change, type:enhance, type:fix, role:api-engineer, role:data-engineer, scope:repository

#583 ✨ (api): added mock api data for request-access
  libs/api/request-access/service/feature/src/index.ts
  libs/api/request-access/service/feature/src/lib/api-request-access-service-feature.module.ts
  libs/api/request-access/service/feature/src/lib/request-access.service.ts
Labels: priority:low, scope:api, status:ready, type:feature, role:service-engineer

#604 🗃️ (db): Added new entity for the company representative profile
  prisma/migrations/20220411231721_added_companyrep_entity/migration.sql
  prisma/migrations/20220412090409_added_2_entities/migration.sql
  prisma/schema.prisma
Labels: priority:high, scope:db, status:ready, type:change, role:project-manager, role:data-engineer

#599 ✅(api) : Added unit test to notifications API
  libs/api/notifications/api/feature/src/lib/api-notifications-api-feature.controller.spec.ts
  libs/client/notifications/feature/src/lib/notif-display/notif-display.component.html
  libs/client/notifications/feature/src/lib/notif-display/notif-display.component.spec.ts
  libs/client/notifications/feature/src/lib/notif-display/notif-display.component.ts
Labels: priority:low, scope:api, status:ready, type:test, role:tester

#607 🗃️ (bd) Properly Added Nx Files
  libs/api/student-profiles/repository/data-access/.eslintrc.json
  libs/api/student-profiles/repository/data-access/README.md
  libs/api/student-profiles/repository/data-access/jest.config.js
  libs/api/student-profiles/repository/data-access/project.json
  libs/api/student-profiles/repository/data-access/src/index.ts
  libs/api/student-profiles/repository/data-access/src/lib/api-student-profiles-repository-data-access.module.ts
  libs/api/student-profiles/repository/data-access/tsconfig.json
  libs/api/student-profiles/repository/data-access/tsconfig.lib.json
  libs/api/student-profiles/repository/data-access/tsconfig.spec.json
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: priority:medium, scope:db, status:ready, type:feature, role:data-engineer

#614 💄 (UI) : updating company-representative-feature
  libs/client/company-representative/feature/src/lib/company-representative-about/company-representative-about.component.html
  libs/client/company-representative/feature/src/lib/company-representative-about/company-representative-about.component.scss
  libs/client/company-representative/feature/src/lib/company-representative-connections/company-representative-connections.component.html
  libs/client/company-representative/feature/src/lib/company-representative-connections/company-representative-connections.component.scss
  libs/client/company-representative/feature/src/lib/company-representative-contact/company-representative-contact.component.html
  libs/client/company-representative/feature/src/lib/company-representative-contact/company-representative-contact.component.scss
  libs/client/company-representative/feature/src/lib/company-representative-experience/company-representative-experience.component.html
  libs/client/company-representative/feature/src/lib/company-representative-experience/company-representative-experience.component.scss
  libs/client/company-representative/feature/src/lib/company-representative-page/company-representative-page.component.scss
  libs/client/company-representative/feature/src/lib/company-representative-title/company-representative-title.component.html
  libs/client/company-representative/feature/src/lib/company-representative-title/company-representative-title.component.scss
Labels: priority:low, status:not-ready, type:enhance, role:ui-engineer, role:developer-operations, scope:ui

#611 🐛 (API): Fix the Bug in API
  libs/api/storage/api/feature/src/lib/api-storage.resolver.ts
  libs/api/storage/api/shared/data-access/src/lib/api-storage.entity.ts
  libs/api/storage/service/feature/src/lib/api-storage-service-feature.ts
Labels: priority:high, status:not-ready, type:bug, type:fix, role:api-engineer, role:data-engineer, scope:repository

#622 ✅(CI/CD) : Added test for develop
  .github/workflows/dev.yml
Labels: priority:high, status:ready, type:feature, role:developer-operations, scope:cicd

#576 🚧(ui): Adding API service, integrating NGXS
  libs/client/request-for-access/feature/src/lib/actions/request-for-access.actions.ts
  libs/client/request-for-access/feature/src/lib/request-for-access.component.html
  libs/client/request-for-access/feature/src/lib/request-for-access.component.scss
  libs/client/request-for-access/feature/src/lib/request-for-access.component.ts
  libs/client/request-for-access/feature/src/lib/request-for-access.module.ts
  libs/client/request-for-access/feature/src/lib/services/request-for-access.service.spec.ts
  libs/client/request-for-access/feature/src/lib/services/request-for-access.service.ts
  libs/client/request-for-access/feature/src/lib/stores/request-for-access.state.ts
Labels: priority:high, scope:client, status:ready, type:enhance, role:ui-engineer, scope:ui

#624 🚑 (UI): Fixing module imports and paths
  apps/client/src/app/app.module.ts
  libs/client/request-for-access/feature/src/lib/request-for-access.module.ts
  libs/client/request-for-access/feature/src/lib/stores/request-for-access.state.ts
Labels: priority:high, scope:client, status:ready, type:fix, role:ui-engineer, scope:ui

#616 ✅ 💄 (student-explore): Added search bar component - Issue #386
  libs/client/student-explore/feature/src/lib/client-student-explore.module.ts
  libs/client/student-explore/feature/src/lib/search-bar/search-bar.component.html
  libs/client/student-explore/feature/src/lib/search-bar/search-bar.component.scss
  libs/client/student-explore/feature/src/lib/search-bar/search-bar.component.spec.ts
  libs/client/student-explore/feature/src/lib/search-bar/search-bar.component.ts
  yarn.lock
Labels: priority:high, status:ready, type:feature, role:ui-engineer, scope:ui

#631 ✅ : (CI/CD): Removed dev and release yml
  .github/workflows/dev.yml
  .github/workflows/release.yml
Labels: priority:high, status:ready, type:fix, role:developer-operations, scope:cicd

#632 🚑 (api):Fixed type error
  libs/api/student-profiles/api/shared/data-access/src/lib/api-student-profiles-input.entity.ts
  libs/api/student-profiles/api/shared/data-access/src/lib/api-student-profiles.entity.ts
Labels: priority:high, scope:api, status:ready, type:fix, role:api-engineer

#634 🔥 🎨 (UI) : removing ViewSelected and basic UploadStory and routing
  libs/client/shorts/feature/src/lib/client-shorts-feature.module.ts
  libs/client/shorts/feature/src/lib/shorts-routing.module.ts
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.html
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.scss
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.ts
  libs/client/shorts/feature/src/lib/story-selected/story-selected.component.html
  libs/client/shorts/feature/src/lib/story-selected/story-selected.component.scss
  libs/client/shorts/feature/src/lib/story-selected/story-selected.component.spec.ts
  libs/client/shorts/feature/src/lib/story-selected/story-selected.component.ts
  libs/client/shorts/feature/src/lib/story-upload/story-upload.component.html
Labels: priority:medium, status:not-ready, type:change, role:ui-engineer, scope:ui

#639 🔥 (Shorts-API): Added Testing, new API Queries and Commands
  .eslintrc.json
  doc/doc-filelist.js
  doc/doc-script.js
  doc/doc-style.css
  libs/api/shorts/api/feature/src/lib/ApiShortsResolver.resolver.ts
  libs/api/shorts/api/feature/src/lib/api-shorts-api-feature.module.ts
  libs/api/shorts/api/feature/src/lib/api-shorts-resolver.resolver.spec.ts
  libs/api/shorts/api/feature/src/lib/api-shorts-resolver.resolver.ts
  libs/api/shorts/api/shared/entities/data-access/src/index.ts
  libs/api/shorts/api/shared/entities/data-access/src/lib/ApiShortsEntity.entity.ts
  libs/api/shorts/api/shared/entities/data-access/src/lib/api-shorts-entity.entity.ts
  libs/api/shorts/api/shared/entities/data-access/src/lib/api-shorts-report-entity.entity.ts
  libs/api/shorts/api/shared/entities/data-access/src/lib/api-shorts-tag-entity.entity.ts
  libs/api/shorts/repository/data-access/src/index.ts
  libs/api/shorts/repository/data-access/src/lib/ApiShortsRepository.repository.ts
  libs/api/shorts/repository/data-access/src/lib/api-shorts-repository.repository.spec.ts
  libs/api/shorts/repository/data-access/src/lib/api-shorts-repository.repository.ts
  libs/api/shorts/service/feature/src/index.ts
  libs/api/shorts/service/feature/src/lib/ApiShortsService.service.ts
  libs/api/shorts/service/feature/src/lib/api-shorts-service.service.spec.ts
  libs/api/shorts/service/feature/src/lib/api-shorts-service.service.ts
  libs/api/shorts/service/feature/src/lib/commands/api-shorts-command-handler.handler.ts
  libs/api/shorts/service/feature/src/lib/commands/api-shorts-command.command.ts
  libs/api/shorts/service/feature/src/lib/queries/api-shorts-query-handler.handler.ts
  libs/api/shorts/service/feature/src/lib/queries/api-shorts-query.query.ts
  libs/api/shorts/service/feature/src/lib/queries/handlers/ApiShortsFetchAllHandler.handler.ts
  libs/api/shorts/service/feature/src/lib/queries/impl/ApiShortsFetchAllQuery.query.ts
Labels: priority:high, scope:api, status:ready, type:feature, role:api-engineer, role:service-engineer, role:data-engineer, scope:repository

#640 :sparkles: (UI): UI Kit header-and-footer components
  libs/client/shared/components/header-and-footer/ui/header-and-footer/.browserslistrc
  libs/client/shared/components/header-and-footer/ui/header-and-footer/.eslintrc.json
  libs/client/shared/components/header-and-footer/ui/header-and-footer/jest.config.js
  libs/client/shared/components/header-and-footer/ui/header-and-footer/project.json
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/app.component.html
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/app.component.scss
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/app.component.spec.ts
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/app.component.ts
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/app.module.ts
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/footer/footer.component.html
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/footer/footer.component.scss
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/footer/footer.component.spec.ts
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/footer/footer.component.ts
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/header/header.component.html
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/header/header.component.scss
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/header/header.component.spec.ts
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/header/header.component.ts
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/nx-welcome.component.ts
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/assets/.gitkeep
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/assets/Group 110.png
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/assets/Group 111.png
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/assets/Group 112.png
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/assets/Group 113.png
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/assets/footer.png
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/environments/environment.prod.ts
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/environments/environment.ts
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/favicon.ico
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/index.html
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/main.ts
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/polyfills.ts
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/styles.scss
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/test-setup.ts
  libs/client/shared/components/header-and-footer/ui/header-and-footer/tsconfig.app.json
  libs/client/shared/components/header-and-footer/ui/header-and-footer/tsconfig.editor.json
  libs/client/shared/components/header-and-footer/ui/header-and-footer/tsconfig.json
  libs/client/shared/components/header-and-footer/ui/header-and-footer/tsconfig.spec.json
Labels: priority:high, status:needs-tests, type:feature, role:ui-engineer, scope:ui

#642 💄 (UI) Feature/shorts working on explore page
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.html
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.scss
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.ts
Labels: priority:low, status:ready, type:change, type:cosmetic, type:feature, role:ui-engineer, scope:ui

#644 🎨 (UI) : updating router and developing the upload further
  libs/client/shorts/feature/src/lib/client-shorts-feature.module.ts
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.html
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.scss
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.spec.ts
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.ts
Labels: priority:medium, status:not-ready, type:change, role:ui-engineer, scope:ui

#635 🗃️ (database) : adding prisma and CRUD operations
  libs/api/authentication/repository/data-access/src/lib/api-authentication-repository-data-access-admin.ts
  prisma/migrations/20220412124614_added_user_token_entities/migration.sql
  prisma/schema.prisma
Labels: priority:medium, status:needs-tests, type:feature, role:data-engineer, scope:repository

#619 🎨(storage): Simplified testing
  libs/api/storage/api/feature/src/lib/api-storage.resolver.ts
  libs/api/storage/api/shared/data-access/src/lib/api-storage.entity.ts
  libs/api/storage/repository/data-access/src/lib/FirebaseRepository.repository.ts
  libs/api/storage/repository/data-access/src/lib/StorageRepository.repository.ts
  libs/api/storage/service/feature/src/lib/api-storage-service-feature.ts
  package.json
  yarn.lock
Labels: priority:high, status:ready, type:change, type:enhance, role:data-engineer, role:tester, scope:repository

#656 ✅ (API) : Added the Spec files
  libs/api/storage/api/feature/src/lib/api-storage.resolver.spec.ts
  libs/api/storage/api/feature/src/lib/api-storage.resolver.ts
  libs/api/storage/api/shared/data-access/src/lib/api-storage.entity.spec.ts
  libs/api/storage/service/feature/src/lib/api-storage-service-feature.spec.ts
Labels: priority:medium, scope:api, status:not-ready, type:test, role:api-engineer, role:tester

#537 ✨(ui) : Admin Console Feature UI
  libs/client/adminconsole/feature/.eslintrc.json
  libs/client/adminconsole/feature/README.md
  libs/client/adminconsole/feature/jest.config.js
  libs/client/adminconsole/feature/project.json
  libs/client/adminconsole/feature/src/index.ts
  libs/client/adminconsole/feature/src/lib/adminconsole/adminconsole.component.html
  libs/client/adminconsole/feature/src/lib/adminconsole/adminconsole.component.scss
  libs/client/adminconsole/feature/src/lib/adminconsole/adminconsole.component.spec.ts
  libs/client/adminconsole/feature/src/lib/adminconsole/adminconsole.component.ts
  libs/client/adminconsole/feature/src/lib/client-adminconsole-feature.module.spec.ts
  libs/client/adminconsole/feature/src/lib/client-adminconsole-feature.module.ts
  libs/client/adminconsole/feature/src/test-setup.ts
  libs/client/adminconsole/feature/tsconfig.json
  libs/client/adminconsole/feature/tsconfig.lib.json
  libs/client/adminconsole/feature/tsconfig.spec.json
  libs/client/shell/feature/src/lib/feature.component.ts
  tsconfig.base.json
  workspace.json
Labels: priority:low, status:not-ready, type:feature, role:ui-engineer, scope:ui

#659 ✨ (api): getAccessEntity Takes in 3 parameters
  libs/api/request-access/service/feature/src/lib/request-access.service.ts
Labels: priority:low, scope:api, status:ready, type:fix, role:service-engineer

#657 📝 (Storage/UI): Added responsiveness to the first Storage page
  apps/client/src/app/app.component.html
  libs/client/storage/feature/.browserslistrc
  libs/client/storage/feature/.eslintrc.json
  libs/client/storage/feature/README.md
  libs/client/storage/feature/jest.config.js
  libs/client/storage/feature/ng-package.json
  libs/client/storage/feature/package.json
  libs/client/storage/feature/project.json
  libs/client/storage/feature/src/index.ts
  libs/client/storage/feature/src/lib/client-storage-feature-routing.module.ts
  libs/client/storage/feature/src/lib/client-storage-feature.component.html
  libs/client/storage/feature/src/lib/client-storage-feature.component.scss
  libs/client/storage/feature/src/lib/client-storage-feature.component.ts
  libs/client/storage/feature/src/lib/client-storage-feature.module.spec.ts
  libs/client/storage/feature/src/lib/client-storage-feature.module.ts
  libs/client/storage/feature/src/lib/delete-all/delete-all.component.html
  libs/client/storage/feature/src/lib/delete-all/delete-all.component.scss
  libs/client/storage/feature/src/lib/delete-all/delete-all.component.spec.ts
  libs/client/storage/feature/src/lib/delete-all/delete-all.component.ts
  libs/client/storage/feature/src/lib/download-all/download-all.component.html
  libs/client/storage/feature/src/lib/download-all/download-all.component.scss
  libs/client/storage/feature/src/lib/download-all/download-all.component.spec.ts
  libs/client/storage/feature/src/lib/download-all/download-all.component.ts
  libs/client/storage/feature/src/lib/myJunks.txt
  libs/client/storage/feature/src/lib/page-title/page-title.component.html
  libs/client/storage/feature/src/lib/page-title/page-title.component.scss
  libs/client/storage/feature/src/lib/page-title/page-title.component.spec.ts
  libs/client/storage/feature/src/lib/page-title/page-title.component.ts
  libs/client/storage/feature/src/test-setup.ts
  libs/client/storage/feature/tailwind.config.js
  libs/client/storage/feature/tsconfig.json
  libs/client/storage/feature/tsconfig.lib.json
  libs/client/storage/feature/tsconfig.lib.prod.json
  libs/client/storage/feature/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: priority:medium, status:needs-tests, type:feature, role:ui-engineer, scope:ui

#650 :art: (UI) : completing UploadStory UI needs linking to API
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.html
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.scss
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.ts
Labels: priority:medium, status:not-ready, type:cosmetic, role:ui-engineer, scope:ui

#661 ✨ (api): added mock data for Access-Status
  libs/api/access-status/api/feature/src/index.ts
  libs/api/access-status/service/feature/src/index.ts
  libs/api/access-status/service/feature/src/lib/access-status.service.ts
  libs/api/access-status/service/feature/src/lib/api-access-status-service-feature.module.ts
Labels: priority:medium, scope:api, status:ready, type:feature, role:service-engineer

#643 🤡 (student-explore):Created student-explore page with mock data. Issue #602
  apps/client/src/app/app-routing.module.ts
  libs/client/student-explore/feature/src/lib/client-student-explore.module.ts
  libs/client/student-explore/feature/src/lib/search-bar/search-bar.component.spec.ts
  libs/client/student-explore/feature/src/lib/search-bar/search-bar.component.ts
  libs/client/student-explore/feature/src/lib/student-explore-page/student-explore-page.component.html
  libs/client/student-explore/feature/src/lib/student-explore-page/student-explore-page.component.scss
  libs/client/student-explore/feature/src/lib/student-explore-page/student-explore-page.component.spec.ts
  libs/client/student-explore/feature/src/lib/student-explore-page/student-explore-page.component.ts
  libs/client/student-explore/feature/src/lib/student-explore-page/student-explore-routing.module.ts
Labels: priority:high, scope:client, status:ready, type:feature, role:designer, role:ui-engineer

#671 📝 (Storage/UI): Making changes to file structure
  libs/client/storage/feature/.browserslistrc
  libs/client/storage/feature/ng-package.json
  libs/client/storage/feature/package.json
  libs/client/storage/feature/project.json
  libs/client/storage/feature/src/lib/client-storage-feature-routing.module.ts
  libs/client/storage/feature/src/lib/client-storage-feature.component.html
  libs/client/storage/feature/src/lib/client-storage-feature.component.scss
  libs/client/storage/feature/src/lib/client-storage-feature.component.ts
  libs/client/storage/feature/src/lib/client-storage-feature.module.spec.ts
  libs/client/storage/feature/src/lib/client-storage-feature.module.ts
  libs/client/storage/feature/src/lib/delete-all/delete-all.component.html
  libs/client/storage/feature/src/lib/delete-all/delete-all.component.scss
  libs/client/storage/feature/src/lib/delete-all/delete-all.component.spec.ts
  libs/client/storage/feature/src/lib/delete-all/delete-all.component.ts
  libs/client/storage/feature/src/lib/download-all/download-all.component.html
  libs/client/storage/feature/src/lib/download-all/download-all.component.scss
  libs/client/storage/feature/src/lib/download-all/download-all.component.spec.ts
  libs/client/storage/feature/src/lib/download-all/download-all.component.ts
  libs/client/storage/feature/src/lib/myJunks.txt
  libs/client/storage/feature/src/lib/page-title/page-title.component.html
  libs/client/storage/feature/src/lib/page-title/page-title.component.scss
  libs/client/storage/feature/src/lib/page-title/page-title.component.spec.ts
  libs/client/storage/feature/src/lib/page-title/page-title.component.ts
  libs/client/storage/feature/tailwind.config.js
  libs/client/storage/feature/tsconfig.lib.prod.json
  tsconfig.base.json
Labels: priority:medium, status:needs-tests, type:feature, role:ui-engineer, scope:ui

#672 ✨(UI): Create Blog Feature
  apps/client/src/app/app-routing.module.ts
  libs/client/blog/feature/.eslintrc.json
  libs/client/blog/feature/README.md
  libs/client/blog/feature/jest.config.js
  libs/client/blog/feature/project.json
  libs/client/blog/feature/src/index.ts
  libs/client/blog/feature/src/lib/blog-create/blog-create.component.html
  libs/client/blog/feature/src/lib/blog-create/blog-create.component.scss
  libs/client/blog/feature/src/lib/blog-create/blog-create.component.spec.ts
  libs/client/blog/feature/src/lib/blog-create/blog-create.component.ts
  libs/client/blog/feature/src/lib/blog-explore/blog-explore-card/blog-explore-card.component.html
  libs/client/blog/feature/src/lib/blog-explore/blog-explore-card/blog-explore-card.component.scss
  libs/client/blog/feature/src/lib/blog-explore/blog-explore-card/blog-explore-card.component.spec.ts
  libs/client/blog/feature/src/lib/blog-explore/blog-explore-card/blog-explore-card.component.ts
  libs/client/blog/feature/src/lib/blog-explore/blog-explore.component.html
  libs/client/blog/feature/src/lib/blog-explore/blog-explore.component.scss
  libs/client/blog/feature/src/lib/blog-explore/blog-explore.component.spec.ts
  libs/client/blog/feature/src/lib/blog-explore/blog-explore.component.ts
  libs/client/blog/feature/src/lib/blog-routing.module.ts
  libs/client/blog/feature/src/lib/blog-view/blog-view.component.html
  libs/client/blog/feature/src/lib/blog-view/blog-view.component.scss
  libs/client/blog/feature/src/lib/blog-view/blog-view.component.spec.ts
  libs/client/blog/feature/src/lib/blog-view/blog-view.component.ts
  libs/client/blog/feature/src/lib/client-blog-feature.module.spec.ts
  libs/client/blog/feature/src/lib/client-blog-feature.module.ts
  libs/client/blog/feature/src/test-setup.ts
  libs/client/blog/feature/tsconfig.json
  libs/client/blog/feature/tsconfig.lib.json
  libs/client/blog/feature/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: priority:high, status:not-ready, type:feature, role:ui-engineer, scope:ui

#670 :art: (request-for-access): AccessStatusEntity no longer contains the graduates ID
  libs/api/access-status/api/feature/src/lib/api-access-status.entity.ts
  libs/api/access-status/api/feature/src/lib/api-access-status.service.ts
  libs/api/access-status/service/feature/src/lib/access-status.service.ts
  libs/api/request-access/api/feature/src/lib/api-request-access.resolver.ts
Labels: priority:medium, scope:api, status:needs-tests, type:change, role:api-engineer

#641 💄(Student Profile): Created base profile-body component
  apps/client/src/app/app-routing.module.ts
  apps/client/src/app/app.module.ts
  libs/client/student-profile/feature/src/lib/client-student-profile-feature.module.ts
  libs/client/student-profile/feature/src/lib/profile-body/profile-body.component.html
  libs/client/student-profile/feature/src/lib/profile-body/profile-body.component.sass
  libs/client/student-profile/feature/src/lib/profile-body/profile-body.component.spec.ts
  libs/client/student-profile/feature/src/lib/profile-body/profile-body.component.ts
  libs/client/student-profile/feature/src/lib/profile-routing.module.ts
  libs/client/student-profile/feature/src/lib/user-info/user-info.component.html
  libs/client/student-profile/feature/src/lib/user-info/user-info.component.sass
  libs/client/student-profile/feature/src/lib/user-info/user-info.component.spec.ts
  libs/client/student-profile/feature/src/lib/user-info/user-info.component.ts
Labels: priority:high, status:ready, type:cosmetic, role:ui-engineer, scope:ui

#679 ✅ (CI/CD): Manual dispatch test all
  .github/workflows/index.yml
Labels: priority:medium, status:ready, type:feature, role:developer-operations, scope:cicd

#682 ✅ (CI/CD) : Full CI test
  .github/workflows/full.yml
  .github/workflows/index.yml
Labels: priority:medium, status:ready, type:feature, role:developer-operations, scope:cicd

#674 ✨Adding Authentication Directory
  libs/client/authentication/feature/README.md
  libs/client/authentication/feature/jest.config.js
  libs/client/authentication/feature/project.json
  libs/client/authentication/feature/src/index.ts
  libs/client/authentication/feature/src/lib/authentication-feature.module.spec.ts
  libs/client/authentication/feature/src/lib/authentication-feature.module.ts
  libs/client/authentication/feature/src/lib/login-feature/login-feature.component.html
  libs/client/authentication/feature/src/lib/login-feature/login-feature.component.scss
  libs/client/authentication/feature/src/lib/login-feature/login-feature.component.spec.ts
  libs/client/authentication/feature/src/lib/login-feature/login-feature.component.ts
  libs/client/authentication/feature/src/lib/login-page-feature/login-page-feature.component.html
  libs/client/authentication/feature/src/lib/login-page-feature/login-page-feature.component.scss
  libs/client/authentication/feature/src/lib/login-page-feature/login-page-feature.component.spec.ts
  libs/client/authentication/feature/src/lib/login-page-feature/login-page-feature.component.ts
  libs/client/authentication/feature/src/lib/materials/authentication-material.module.ts
  libs/client/authentication/feature/src/lib/registration-feature/registration-feature.component.html
  libs/client/authentication/feature/src/lib/registration-feature/registration-feature.component.spec.ts
  libs/client/authentication/feature/src/lib/registration-feature/registration-feature.component.ts
  libs/client/authentication/feature/src/test-setup.ts
  libs/client/authentication/feature/tsconfig.json
  libs/client/authentication/feature/tsconfig.lib.json
  libs/client/authentication/feature/tsconfig.spec.json
Labels: priority:medium, status:needs-info, status:needs-tests, status:not-ready, type:feature, role:ui-engineer, scope:ui

#687 ✅ (CI/CD) : Added CI Test status badge
  README.md
Labels: priority:low, status:ready, type:documentation, role:developer-operations, scope:cicd

#686 :art: (UI) : Finishing the uploadStory design
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.html
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.scss
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.ts
Labels: priority:medium, status:not-ready, type:change, type:cosmetic, role:ui-engineer, scope:design

#685 💄 🐛 (UI) : updating company-representative-feature
  libs/client/company-representative/feature/src/lib/client-company-representative-feature.module.ts
  libs/client/company-representative/feature/src/lib/company-representative-routing.module.ts
Labels: priority:high, status:ready, type:bug, role:ui-engineer, role:developer-operations, scope:ui

#696 🗃️ (blog): Added entities for api
  libs/api/blog/api/shared/entities/data-access/.eslintrc.json
  libs/api/blog/api/shared/entities/data-access/README.md
  libs/api/blog/api/shared/entities/data-access/jest.config.js
  libs/api/blog/api/shared/entities/data-access/project.json
  libs/api/blog/api/shared/entities/data-access/src/index.ts
  libs/api/blog/api/shared/entities/data-access/src/lib/api-blog-comment-entity.entity.ts
  libs/api/blog/api/shared/entities/data-access/src/lib/api-blog-entity.entity.ts
  libs/api/blog/api/shared/entities/data-access/src/lib/api-blog-media-entity.entity.ts
  libs/api/blog/api/shared/entities/data-access/tsconfig.json
  libs/api/blog/api/shared/entities/data-access/tsconfig.lib.json
  libs/api/blog/api/shared/entities/data-access/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: priority:medium, scope:api, status:on-hold, type:feature, role:api-engineer, role:data-engineer, scope:repository

#692 🗃️ (db-access): Database function data retrieval
  libs/api/companyprofilepage/repository/data-access/src/lib/api-companyprofilepage-repository.ts
Labels: priority:medium, status:needs-tests, status:ready, type:feature, role:data-engineer, scope:repository

#667 🎨 (ui): renamed files to match convention
  libs/client/company-profile/feature/.eslintrc.json
  libs/client/company-profile/feature/README.md
  libs/client/company-profile/feature/jest.config.js
  libs/client/company-profile/feature/project.json
  libs/client/company-profile/feature/src/index.ts
  libs/client/company-profile/feature/src/lib/company-profile-module.spec.ts
  libs/client/company-profile/feature/src/lib/company-profile.module.ts
  libs/client/company-profile/feature/src/lib/company-profile/company-profile-routing.module.ts
  libs/client/company-profile/feature/src/lib/company-profile/company-profile.component.html
  libs/client/company-profile/feature/src/lib/company-profile/company-profile.component.scss
  libs/client/company-profile/feature/src/lib/company-profile/company-profile.component.spec.ts
  libs/client/company-profile/feature/src/lib/company-profile/company-profile.component.ts
  libs/client/company-profile/feature/src/lib/editing-page/editing-page.component.html
  libs/client/company-profile/feature/src/lib/editing-page/editing-page.component.scss
  libs/client/company-profile/feature/src/lib/editing-page/editing-page.component.spec.ts
  libs/client/company-profile/feature/src/lib/editing-page/editing-page.component.ts
  libs/client/company-profile/feature/src/lib/materials/company-profile-material.module.ts
  libs/client/company-profile/feature/src/test-setup.ts
  libs/client/company-profile/feature/tsconfig.json
  libs/client/company-profile/feature/tsconfig.lib.json
  libs/client/company-profile/feature/tsconfig.spec.json
  libs/client/companyProfile/feature/src/index.ts
  libs/client/companyProfile/feature/src/lib/companyProfile.module.ts
  libs/client/companyProfile/feature/src/lib/editingPage/editingPage.component.scss
Labels: priority:high, status:ready, type:feature, role:ui-engineer, scope:ui

#699 💄 (Student Profile): Created base Biography Component
  libs/client/student-profile/feature/src/lib/bio/bio.component.html
  libs/client/student-profile/feature/src/lib/bio/bio.component.sass
  libs/client/student-profile/feature/src/lib/bio/bio.component.spec.ts
  libs/client/student-profile/feature/src/lib/bio/bio.component.ts
  libs/client/student-profile/feature/src/lib/client-student-profile-feature.module.ts
  libs/client/student-profile/feature/src/lib/profile-body/profile-body.component.html
  libs/client/student-profile/feature/src/lib/profile-body/profile-body.component.sass
  libs/client/student-profile/feature/src/lib/user-info/user-info.component.html
  libs/client/student-profile/feature/src/lib/user-info/user-info.component.sass
Labels: priority:high, status:ready, type:cosmetic, role:ui-engineer, scope:ui

#700 💄 (Student Profile): Created base Achievements Component
  libs/client/student-profile/feature/src/lib/achievements/achievements.component.html
  libs/client/student-profile/feature/src/lib/achievements/achievements.component.sass
  libs/client/student-profile/feature/src/lib/achievements/achievements.component.spec.ts
  libs/client/student-profile/feature/src/lib/achievements/achievements.component.ts
  libs/client/student-profile/feature/src/lib/client-student-profile-feature.module.ts
  libs/client/student-profile/feature/src/lib/profile-body/profile-body.component.html
Labels: priority:high, status:ready, type:cosmetic, role:ui-engineer, scope:ui

#701 📝 (Storage/UI): Making sure all imported components are visible on the main page
  apps/client/src/app/app-routing.module.ts
  libs/client/storage/feature/src/lib/client-storage-feature.module.ts
  libs/client/storage/feature/src/lib/delete-all/delete-all.component.html
  libs/client/storage/feature/src/lib/delete-all/delete-all.component.scss
  libs/client/storage/feature/src/lib/delete-all/delete-all.component.spec.ts
  libs/client/storage/feature/src/lib/delete-all/delete-all.component.ts
  libs/client/storage/feature/src/lib/download-all/download-all.component.html
  libs/client/storage/feature/src/lib/download-all/download-all.component.scss
  libs/client/storage/feature/src/lib/download-all/download-all.component.spec.ts
  libs/client/storage/feature/src/lib/download-all/download-all.component.ts
  libs/client/storage/feature/src/lib/main-storage-page/main-storage-page.component.html
  libs/client/storage/feature/src/lib/main-storage-page/main-storage-page.component.scss
  libs/client/storage/feature/src/lib/main-storage-page/main-storage-page.component.spec.ts
  libs/client/storage/feature/src/lib/main-storage-page/main-storage-page.component.ts
  libs/client/storage/feature/src/lib/page-title/page-title.component.html
  libs/client/storage/feature/src/lib/page-title/page-title.component.scss
  libs/client/storage/feature/src/lib/page-title/page-title.component.spec.ts
  libs/client/storage/feature/src/lib/page-title/page-title.component.ts
  libs/client/storage/feature/src/lib/storage-routing.module.ts
Labels: priority:medium, status:needs-tests, type:feature, role:ui-engineer, scope:ui

#704 👔 🌱 🚧 (repository): Create a connection from the repository layer to PRISMA
  libs/api/company-representative/repository/data-access/.eslintrc.json
  libs/api/company-representative/repository/data-access/README.md
  libs/api/company-representative/repository/data-access/jest.config.js
  libs/api/company-representative/repository/data-access/project.json
  libs/api/company-representative/repository/data-access/src/index.ts
  libs/api/company-representative/repository/data-access/src/lib/api-company-representative-repository-data-access.module.ts
  libs/api/company-representative/repository/data-access/src/lib/api-company-representative-repository-data-access.service.spec.ts
  libs/api/company-representative/repository/data-access/src/lib/api-company-representative-repository-data-access.service.ts
  libs/api/company-representative/repository/data-access/tsconfig.json
  libs/api/company-representative/repository/data-access/tsconfig.lib.json
  libs/api/company-representative/repository/data-access/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: priority:high, scope:db, status:needs-tests, type:change, role:project-manager, role:data-engineer, scope:repository

#707 ✨ (api): add mock data for Authorization
  libs/api/authorization/api/feature/src/lib/api-authorization-api-feature.module.ts
  libs/api/authorization/api/feature/src/lib/api-authorization.resolver.spec.ts
  libs/api/authorization/api/feature/src/lib/api-authorization.resolver.ts
  libs/api/authorization/api/shared/src/index.ts
  libs/api/authorization/api/shared/src/lib/api-authorization.entity.ts
  libs/api/authorization/service/feature/src/index.ts
  libs/api/authorization/service/feature/src/lib/api-authorization-service-feature.module.ts
  libs/api/authorization/service/feature/src/lib/api-authorization.service.spec.ts
  libs/api/authorization/service/feature/src/lib/api-authorization.service.ts
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
Labels: priority:high, scope:api, status:ready, type:feature, role:api-engineer

#711 :art: (UI) Updating header-and-footer
  apps/client/src/assets/desktop-gradsportal-logo.png
  apps/client/src/assets/desktop-up-logo.png
  apps/client/src/assets/footer.png
  apps/client/src/assets/mobileheader.png
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/app.component.html
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/app.component.scss
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/app.component.spec.ts
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/app.component.ts
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/app.module.ts
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/footer/footer.component.scss
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/header/header.component.html
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/header/header.component.scss
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/app/nx-welcome.component.ts
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/assets/Group 110.png
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/assets/desktop-gradsportal-logo.png
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/assets/desktop-up-logo.png
  libs/client/shared/components/header-and-footer/ui/header-and-footer/src/assets/mobileheader.png
Labels: priority:high, status:needs-tests, type:fix, role:ui-engineer, scope:ui

#716 💚(repo): cache cypress correctly.
  .github/workflows/nxtest.yml
Labels: priority:medium, status:needs-info, type:fix, role:developer-operations, scope:repository

#702 🗃️ (blog): Updated the schema and api entity files
  libs/api/blog/api/shared/entities/data-access/src/lib/api-blog-comment-entity.entity.ts
  libs/api/blog/api/shared/entities/data-access/src/lib/api-blog-entity.entity.ts
  prisma/schema.prisma
Labels: priority:medium, scope:api, scope:db, status:on-hold, type:change, role:api-engineer, role:data-engineer, scope:repository

#697 (UI) : Removing ReportComponent and fixing routing module
  libs/client/shorts/feature/src/lib/client-shorts-feature.module.ts
  libs/client/shorts/feature/src/lib/report-menu/report-menu.component.html
  libs/client/shorts/feature/src/lib/report-menu/report-menu.component.scss
  libs/client/shorts/feature/src/lib/report-menu/report-menu.component.spec.ts
  libs/client/shorts/feature/src/lib/report-menu/report-menu.component.ts
  libs/client/shorts/feature/src/lib/shorts-routing.module.ts
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.html
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.scss
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.ts
Labels: priority:medium, status:not-ready, type:change, role:ui-engineer, scope:design

#695 ✨ 🚧 (shorts): Added CRUD operations and entities
  libs/api/shorts/api/shared/entities/data-access/src/lib/api-shorts-entity.entity.ts
  libs/api/shorts/api/shared/entities/data-access/src/lib/api-shorts-tag-entity.entity.ts
  libs/api/shorts/repository/data-access/src/lib/api-shorts-repository.repository.spec.ts
  libs/api/shorts/repository/data-access/src/lib/api-shorts-repository.repository.ts
  libs/api/shorts/service/feature/src/lib/commands/api-shorts-command-handler.handler.ts
Labels: priority:medium, scope:db, status:needs-tests, type:feature, role:data-engineer, scope:repository

#698 ✨ (UI): UI Kit added dropdown and button components
  libs/client/shared/components/buttons/ui/.eslintrc.json
  libs/client/shared/components/buttons/ui/README.md
  libs/client/shared/components/buttons/ui/jest.config.js
  libs/client/shared/components/buttons/ui/project.json
  libs/client/shared/components/buttons/ui/src/index.ts
  libs/client/shared/components/buttons/ui/src/lib/button/button.component.html
  libs/client/shared/components/buttons/ui/src/lib/button/button.component.scss
  libs/client/shared/components/buttons/ui/src/lib/button/button.component.spec.ts
  libs/client/shared/components/buttons/ui/src/lib/button/button.component.ts
  libs/client/shared/components/buttons/ui/src/lib/client-shared-components-buttons-ui.module.spec.ts
  libs/client/shared/components/buttons/ui/src/lib/client-shared-components-buttons-ui.module.ts
  libs/client/shared/components/buttons/ui/src/test-setup.ts
  libs/client/shared/components/buttons/ui/tsconfig.json
  libs/client/shared/components/buttons/ui/tsconfig.lib.json
  libs/client/shared/components/buttons/ui/tsconfig.spec.json
  libs/client/shared/components/dropdown/ui/.eslintrc.json
  libs/client/shared/components/dropdown/ui/README.md
  libs/client/shared/components/dropdown/ui/jest.config.js
  libs/client/shared/components/dropdown/ui/project.json
  libs/client/shared/components/dropdown/ui/src/index.ts
  libs/client/shared/components/dropdown/ui/src/lib/client-shared-components-dropdown-ui.module.spec.ts
  libs/client/shared/components/dropdown/ui/src/lib/client-shared-components-dropdown-ui.module.ts
  libs/client/shared/components/dropdown/ui/src/lib/dropdown/dropdown.component.html
  libs/client/shared/components/dropdown/ui/src/lib/dropdown/dropdown.component.scss
  libs/client/shared/components/dropdown/ui/src/lib/dropdown/dropdown.component.spec.ts
  libs/client/shared/components/dropdown/ui/src/lib/dropdown/dropdown.component.ts
  libs/client/shared/components/dropdown/ui/src/test-setup.ts
  libs/client/shared/components/dropdown/ui/tsconfig.json
  libs/client/shared/components/dropdown/ui/tsconfig.lib.json
  libs/client/shared/components/dropdown/ui/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: priority:high, status:needs-tests, type:feature, role:ui-engineer, scope:ui

#663 📝(docs): clarify feature branch naming in contributing guidelines
  CONTRIBUTING.md
Labels: priority:low, status:ready, type:documentation, role:developer-operations, scope:repository

#719 :label: (request-for-access): Added nullable to status and requestAccess resolvers
  libs/api/access-status/api/feature/src/lib/api-access-status.resolver.ts
  libs/api/request-access/api/feature/src/lib/api-request-access.entity.ts
  libs/api/request-access/api/feature/src/lib/api-request-access.resolver.ts
Labels: priority:medium, scope:api, status:needs-tests, type:enhance, role:api-engineer

#715 🚧(Notifications): Began Implementation of data-access.repository.ts
  libs/api/notifications/repository/data-access/src/index.ts
  libs/api/notifications/repository/data-access/src/lib/api-notifications-repository-data-access.module.ts
  libs/api/notifications/repository/data-access/src/lib/api-notifications-repository-data-access.repository.ts
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
  prisma/migrations/20220414101758_removed_nullable_json/migration.sql
  prisma/schema.prisma
Labels: priority:low, scope:db, status:ready, type:feature, role:data-engineer

#721 ✨ (CQRS): add a query to request access entities
  libs/api/request-access/service/feature/src/lib/api-request-access-service-feature.module.ts
  libs/api/request-access/service/feature/src/lib/queries/handlers/get-access-entities.handler.ts
  libs/api/request-access/service/feature/src/lib/queries/handlers/index.ts
  libs/api/request-access/service/feature/src/lib/queries/impl/get-access-entities.query.ts
  libs/api/request-access/service/feature/src/lib/request-access.service.spec.ts
  libs/api/request-access/service/feature/src/lib/request-access.service.ts
Labels: priority:medium, status:ready, type:enhance, role:service-engineer, scope:design

#723 🔥 (UI) Feature/notifications - Remove self-created footer and header, using UI Kit's now.
  libs/client/notifications/feature/src/lib/assets/.gitkeep
  libs/client/notifications/feature/src/lib/assets/Group 110.png
  libs/client/notifications/feature/src/lib/assets/Group 111.png
  libs/client/notifications/feature/src/lib/assets/Group 112.png
  libs/client/notifications/feature/src/lib/assets/Group 113.png
  libs/client/notifications/feature/src/lib/assets/footer.png
  libs/client/notifications/feature/src/lib/client-notifications-feature.module.ts
  libs/client/notifications/feature/src/lib/footer/footer.component.html
  libs/client/notifications/feature/src/lib/footer/footer.component.scss
  libs/client/notifications/feature/src/lib/footer/footer.component.spec.ts
  libs/client/notifications/feature/src/lib/footer/footer.component.ts
  libs/client/notifications/feature/src/lib/header/header.component.html
  libs/client/notifications/feature/src/lib/header/header.component.scss
  libs/client/notifications/feature/src/lib/header/header.component.spec.ts
  libs/client/notifications/feature/src/lib/header/header.component.ts
  libs/client/notifications/feature/src/lib/notif-display/notif-display.component.html
  libs/client/notifications/feature/src/lib/notif-display/notif-display.component.scss
Labels: priority:low, status:needs-tests, type:change, type:cosmetic, role:ui-engineer, scope:ui

#726 📝 (Storage/UI): Added all the buttons required
  libs/client/storage/feature/src/lib/client-storage-feature.module.ts
  libs/client/storage/feature/src/lib/delete-all/delete-all.component.html
  libs/client/storage/feature/src/lib/delete-all/delete-all.component.scss
  libs/client/storage/feature/src/lib/delete-all/delete-all.component.ts
  libs/client/storage/feature/src/lib/download-all/download-all.component.html
  libs/client/storage/feature/src/lib/download-all/download-all.component.scss
  libs/client/storage/feature/src/lib/download-all/download-all.component.ts
  libs/client/storage/feature/src/lib/file-upload/file-upload.component.html
  libs/client/storage/feature/src/lib/file-upload/file-upload.component.scss
  libs/client/storage/feature/src/lib/file-upload/file-upload.component.spec.ts
  libs/client/storage/feature/src/lib/file-upload/file-upload.component.ts
  libs/client/storage/feature/src/lib/main-storage-page/main-storage-page.component.html
  libs/client/storage/feature/src/lib/main-storage-page/main-storage-page.component.ts
  libs/client/storage/feature/src/lib/page-title/page-title.component.html
  libs/client/storage/feature/src/lib/page-title/page-title.component.scss
Labels: priority:medium, status:needs-tests, type:documentation, role:ui-engineer, scope:ui

#722 📝(repo): Added api-companyexplore-repository-data-access.ts
  libs/api/companyexplore/repository/data-access/src/lib/api-companyexplore-repository-data-access.ts
Labels: priority:high, scope:api, scope:db, status:ready, type:feature, type:fix, role:data-engineer, scope:repository

#728 🚀 (Shorts-API): Updated file structure, added functionality to report a short
  libs/api/shorts/api/feature/src/lib/api-shorts-api-feature.module.ts
  libs/api/shorts/api/feature/src/lib/api-shorts-resolver.resolver.spec.ts
  libs/api/shorts/api/feature/src/lib/api-shorts-resolver.resolver.ts
  libs/api/shorts/api/feature/src/lib/short-reports/api-shorts-reports-resolver.resolver.ts
  libs/api/shorts/api/feature/src/lib/short-reports/api-shorts-reports-resolver.spec.ts
  libs/api/shorts/api/feature/src/lib/short-tags/api-shorts-tags-resolver.resolver.spec.ts
  libs/api/shorts/api/feature/src/lib/short-tags/api-shorts-tags-resolver.resolver.ts
  libs/api/shorts/api/feature/src/lib/shorts/api-shorts-resolver.resolver.spec.ts
  libs/api/shorts/api/feature/src/lib/shorts/api-shorts-resolver.resolver.ts
  libs/api/shorts/api/shared/entities/data-access/src/lib/api-shorts-report-entity.entity.ts
  libs/api/shorts/repository/data-access/src/lib/api-shorts-repository.repository.ts
  libs/api/shorts/service/feature/src/index.ts
  libs/api/shorts/service/feature/src/lib/commands/api-shorts-command-handler.handler.ts
  libs/api/shorts/service/feature/src/lib/commands/api-shorts-command.command.ts
  libs/api/shorts/service/feature/src/lib/short-reports/api-shorts-reports-service.service.spec.ts
  libs/api/shorts/service/feature/src/lib/short-reports/api-shorts-reports-service.service.ts
  libs/api/shorts/service/feature/src/lib/short-reports/commands/api-short-report-command-handler.handler.ts
  libs/api/shorts/service/feature/src/lib/short-reports/commands/api-short-report-command.command.ts
  libs/api/shorts/service/feature/src/lib/short-reports/queries/api-short-report-query-handler.handler.ts
  libs/api/shorts/service/feature/src/lib/short-reports/queries/api-short-report-query.query.ts
  libs/api/shorts/service/feature/src/lib/short-tags/api-shorts-tags-service.service.spec.ts
  libs/api/shorts/service/feature/src/lib/short-tags/api-shorts-tags-service.service.ts
  libs/api/shorts/service/feature/src/lib/short-tags/commands/api-short-tag-command-handler.handler.ts
  libs/api/shorts/service/feature/src/lib/short-tags/commands/api-short-tag-command.command.ts
  libs/api/shorts/service/feature/src/lib/short-tags/queries/api-short-tag-query-handler.handler.ts
  libs/api/shorts/service/feature/src/lib/short-tags/queries/api-short-tag-query.query.ts
  libs/api/shorts/service/feature/src/lib/shorts/api-shorts-service.service.spec.ts
  libs/api/shorts/service/feature/src/lib/shorts/api-shorts-service.service.ts
  libs/api/shorts/service/feature/src/lib/shorts/commands/api-shorts-command-handler.handler.ts
  libs/api/shorts/service/feature/src/lib/shorts/commands/api-shorts-command.command.ts
  libs/api/shorts/service/feature/src/lib/shorts/queries/api-shorts-query-handler.handler.ts
  libs/api/shorts/service/feature/src/lib/shorts/queries/api-shorts-query.query.ts
Labels: priority:medium, scope:api, scope:db, status:ready, type:change, type:documentation, type:feature, type:test, role:api-engineer, role:service-engineer, role:data-engineer, scope:repository

#714 📝 (UI):Created the Authorization library in libs/client folder
  libs/client/authorization/feature/.eslintrc.json
  libs/client/authorization/feature/README.md
  libs/client/authorization/feature/jest.config.js
  libs/client/authorization/feature/project.json
  libs/client/authorization/feature/src/index.ts
  libs/client/authorization/feature/src/lib/client-authorization-feature.module.ts
  libs/client/authorization/feature/src/test-setup.ts
  libs/client/authorization/feature/tsconfig.json
  libs/client/authorization/feature/tsconfig.lib.json
  libs/client/authorization/feature/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: priority:medium, status:needs-tests, type:documentation, role:ui-engineer, scope:repository

#627 ✨ (ui): Created the api status page
  apps/client/src/app/app-routing.module.ts
  libs/client/status-page/feature/.eslintrc.json
  libs/client/status-page/feature/README.md
  libs/client/status-page/feature/jest.config.js
  libs/client/status-page/feature/project.json
  libs/client/status-page/feature/src/index.ts
  libs/client/status-page/feature/src/lib/client-status-page-feature.module.ts
  libs/client/status-page/feature/src/lib/status-card/status-card.component.html
  libs/client/status-page/feature/src/lib/status-card/status-card.component.scss
  libs/client/status-page/feature/src/lib/status-card/status-card.component.spec.ts
  libs/client/status-page/feature/src/lib/status-card/status-card.component.ts
  libs/client/status-page/feature/src/lib/status-page-routing.module.ts
  libs/client/status-page/feature/src/lib/status-page/status-page.component.html
  libs/client/status-page/feature/src/lib/status-page/status-page.component.scss
  libs/client/status-page/feature/src/lib/status-page/status-page.component.spec.ts
  libs/client/status-page/feature/src/lib/status-page/status-page.component.ts
  libs/client/status-page/feature/src/test-setup.ts
  libs/client/status-page/feature/tsconfig.json
  libs/client/status-page/feature/tsconfig.lib.json
  libs/client/status-page/feature/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: priority:low, scope:client, status:not-ready, type:feature, role:ui-engineer

#735 ✅ ✏️ (Shorts-unit tests): Added unit testing
  libs/api/shorts/repository/data-access/src/lib/api-shorts-repository.repository.spec.ts
  libs/api/shorts/repository/data-access/src/lib/api-shorts-repository.repository.ts
Labels: priority:medium, status:ready, type:test, role:api-engineer, role:data-engineer, role:tester, scope:repository

#742 (UI) Feature/shorts working on shorts explore page
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.html
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.scss
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.ts
  libs/client/shorts/feature/src/lib/story-upload/story-upload.component.ts
Labels: priority:medium, status:ready, type:change, type:cosmetic, role:ui-engineer, scope:ui

#743 🔥 (repository): Removed service files from company representative rep…
  libs/api/company-representative/repository/data-access/.eslintrc.json
  libs/api/company-representative/repository/data-access/README.md
  libs/api/company-representative/repository/data-access/jest.config.js
  libs/api/company-representative/repository/data-access/project.json
  libs/api/company-representative/repository/data-access/src/index.ts
  libs/api/company-representative/repository/data-access/src/lib/api-company-representative-repository-data-access.module.ts
  libs/api/company-representative/repository/data-access/src/lib/api-company-representative-repository-data-access.service.spec.ts
  libs/api/company-representative/repository/data-access/src/lib/api-company-representative-repository-data-access.service.ts
  libs/api/company-representative/repository/data-access/tsconfig.json
  libs/api/company-representative/repository/data-access/tsconfig.lib.json
  libs/api/company-representative/repository/data-access/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: priority:high, status:ready, type:change, role:project-manager, role:data-engineer, scope:repository

#739 🎨 (repository): Added adminconsole to shell feature
  libs/api/adminconsole/api/feature/src/index.ts
  libs/api/adminconsole/api/feature/src/lib/api-adminconsole-api-feature.module.ts
  libs/api/adminconsole/api/feature/src/lib/api-adminconsole.module.ts
  libs/api/adminconsole/api/feature/src/lib/api-adminconsole.resolver.spec.ts
  libs/api/adminconsole/api/feature/src/lib/api-adminconsole.resolver.ts
  libs/api/adminconsole/api/shared/data-access/.eslintrc.json
  libs/api/adminconsole/api/shared/data-access/README.md
  libs/api/adminconsole/api/shared/data-access/jest.config.js
  libs/api/adminconsole/api/shared/data-access/project.json
  libs/api/adminconsole/api/shared/data-access/src/index.ts
  libs/api/adminconsole/api/shared/data-access/src/lib/api-adminconsole-repository-data-access.module.ts
  libs/api/adminconsole/api/shared/data-access/src/lib/api-adminconsole.entity.ts
  libs/api/adminconsole/api/shared/data-access/src/test-setup.ts
  libs/api/adminconsole/api/shared/data-access/tsconfig.json
  libs/api/adminconsole/api/shared/data-access/tsconfig.lib.json
  libs/api/adminconsole/api/shared/data-access/tsconfig.spec.json
  libs/api/adminconsole/service/feature/src/index.ts
  libs/api/adminconsole/service/feature/src/lib/api-adminconsole-service-feature.module.ts
  libs/api/adminconsole/service/feature/src/lib/api-adminconsole-service-feature.service.spec.ts
  libs/api/adminconsole/service/feature/src/lib/api-adminconsole-service-feature.service.ts
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
Labels: priority:medium, status:ready, type:change, role:api-engineer, scope:repository

#751 :bug: 💄 (UI) : ExploreNavigation bug fixes
  libs/client/shorts/feature/src/lib/client-shorts-feature.module.ts
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.html
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.scss
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.ts
  libs/client/shorts/feature/src/lib/story-upload/story-upload.component.scss
Labels: priority:medium, scope:client, status:not-ready, type:change, type:cosmetic, role:ui-engineer, scope:design

#748 🚧 ✨ (repository): Added the company representative repository layer and class
  libs/api/company-representative/repository/data-access/.eslintrc.json
  libs/api/company-representative/repository/data-access/README.md
  libs/api/company-representative/repository/data-access/jest.config.js
  libs/api/company-representative/repository/data-access/project.json
  libs/api/company-representative/repository/data-access/src/index.ts
  libs/api/company-representative/repository/data-access/src/lib/api-company-representative-repository-data-access.module.ts
  libs/api/company-representative/repository/data-access/src/lib/company-representative.repository.ts
  libs/api/company-representative/repository/data-access/tsconfig.json
  libs/api/company-representative/repository/data-access/tsconfig.lib.json
  libs/api/company-representative/repository/data-access/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: priority:high, status:ready, type:change, role:project-manager, role:data-engineer, scope:repository

#664 :sparkles: (service) Added authentication functions
  libs/api/authentication/service/feature/src/lib/commands/.gitkeep
  libs/api/authentication/service/feature/src/lib/commands/RgisterCommand.ts
  libs/api/authentication/service/feature/src/lib/environment/api-authentication-environment-feature-api.ts
  libs/api/authentication/service/feature/src/lib/interfaces/GoogleStrategyCredentials.ts
  libs/api/authentication/service/feature/src/lib/interfaces/UserDTO.ts
  libs/api/authentication/service/feature/src/lib/models/Student.ts
  libs/api/authentication/service/feature/src/lib/models/User.ts
  libs/api/authentication/service/feature/src/lib/queries/LoginQuery.ts
  libs/api/authentication/service/feature/src/lib/response/LoginResponse.ts
  libs/api/authentication/service/feature/src/lib/strategy/google.strategy.ts
  libs/api/authentication/service/feature/src/lib/users.service.ts
  package.json
  yarn.lock
Labels: priority:medium, scope:api, status:needs-tests, type:change, type:feature, role:service-engineer

#744 🚧(UI): Updating request-for-access API call
  libs/client/request-for-access/feature/src/lib/request-for-access.component.ts
  libs/client/request-for-access/feature/src/lib/services/request-for-access.service.ts
Labels: priority:medium, scope:client, status:ready, type:fix, role:ui-engineer, scope:ui

#750 🎨 ✏️ 💡 🧑‍💻 (Shorts-db/API): Updated short table
  libs/api/shorts/api/shared/entities/data-access/src/lib/api-shorts-entity.entity.ts
  libs/api/shorts/repository/data-access/src/lib/api-shorts-repository.repository.ts
  prisma/migrations/20220414162009_update_to_short_table/migration.sql
  prisma/schema.prisma
Labels: priority:low, scope:api, scope:db, status:ready, type:change, type:documentation, role:api-engineer, role:data-engineer, scope:repository

#740 ✅ (testing): added tests for Request Access and Access Status
  libs/api/access-status/service/feature/src/lib/access-status.service.spec.ts
  libs/api/request-access/service/feature/src/lib/request-access.service.spec.ts
  libs/api/request-access/service/feature/src/lib/request-access.service.ts
Labels: priority:low, status:ready, type:test, role:service-engineer, scope:design

#760 ✨(api): Initial api commit for blog
  libs/api/blog/api/feature/.eslintrc.json
  libs/api/blog/api/feature/README.md
  libs/api/blog/api/feature/jest.config.js
  libs/api/blog/api/feature/project.json
  libs/api/blog/api/feature/src/index.ts
  libs/api/blog/api/feature/src/lib/api-blog-api-feature.module.ts
  libs/api/blog/api/feature/src/lib/api-blog-resolver.resolver.spec.ts
  libs/api/blog/api/feature/src/lib/api-blog-resolver.resolver.ts
  libs/api/blog/api/feature/tsconfig.json
  libs/api/blog/api/feature/tsconfig.lib.json
  libs/api/blog/api/feature/tsconfig.spec.json
  libs/api/blog/api/shared/entities/data-access/src/lib/api-blog-comment-entity.entity.ts
  libs/api/blog/api/shared/entities/data-access/src/lib/api-blog-entity.entity.ts
  libs/api/blog/api/shared/entities/data-access/src/lib/api-blog-media-entity.entity.ts
  libs/api/blog/repository/data-access/src/index.ts
  libs/api/blog/repository/data-access/src/lib/api-blog-repository-data-access.module.ts
  libs/api/blog/repository/data-access/src/lib/api-blog-repository.repository.spec.ts
  libs/api/blog/repository/data-access/src/lib/api-blog-repository.repository.ts
  libs/api/blog/service/feature/.eslintrc.json
  libs/api/blog/service/feature/README.md
  libs/api/blog/service/feature/jest.config.js
  libs/api/blog/service/feature/project.json
  libs/api/blog/service/feature/src/index.ts
  libs/api/blog/service/feature/src/lib/api-blog-service.service.spec.ts
  libs/api/blog/service/feature/src/lib/api-blog-service.service.ts
  libs/api/blog/service/feature/src/lib/commands/api-blog-command-handler.handler.ts
  libs/api/blog/service/feature/src/lib/commands/api-blog-command.command.ts
  libs/api/blog/service/feature/src/lib/queries/api-blog-query-handler.handler.ts
  libs/api/blog/service/feature/src/lib/queries/api-blog-query.query.ts
  libs/api/blog/service/feature/tsconfig.json
  libs/api/blog/service/feature/tsconfig.lib.json
  libs/api/blog/service/feature/tsconfig.spec.json
  tsconfig.base.json
Labels: priority:high, scope:api, status:needs-tests, type:feature, role:api-engineer

#725 🚧 (notifications): Initializing the external emails forwarding
  libs/api/notifications/service/feature/src/lib/api-notifications-service-feature.service.spec.ts
  libs/api/notifications/service/feature/src/lib/api-notifications-service-feature.service.ts
  libs/api/notifications/service/feature/src/lib/events/handlers/send-mail.handler.spec.ts
  libs/api/notifications/service/feature/src/lib/events/handlers/send-mail.handler.ts
  libs/api/notifications/service/feature/src/lib/events/impl/send-mail.event.spec.ts
  libs/api/notifications/service/feature/src/lib/events/impl/send-mail.event.ts
  libs/api/notifications/service/feature/src/lib/queries/handlers/get-all-user-notifications.handlers.spec.ts
  libs/api/notifications/service/feature/src/lib/queries/handlers/get-all-user-notifications.handlers.ts
  libs/api/notifications/service/feature/src/lib/queries/impl/get-all-user-notifications.query.spec.ts
  libs/api/notifications/service/feature/src/lib/queries/impl/get-all-user-notifications.query.ts
  package.json
  yarn.lock
Labels: priority:high, status:needs-tests, type:feature, role:api-engineer, role:service-engineer, scope:repository

#727 ✨(api): added api endpoints for the student explore feature - profile pictures not yet added
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
  libs/api/student-explore/api/feature/src/lib/api-student-explore.module.ts
  libs/api/student-explore/api/feature/src/lib/api-student-explore.resolver.ts
  libs/api/student-explore/api/shared/data-access/src/lib/api-student-explore.entity.ts
  libs/api/student-explore/repository/data-access/src/index.ts
  libs/api/student-explore/repository/data-access/src/lib/api-student-explore-repository-data-access.module.ts
  libs/api/student-explore/repository/data-access/src/lib/api-student-explore-repository-data-access.ts
  libs/api/student-explore/repository/data-access/src/lib/student.model.ts
  libs/api/student-explore/service/feature/src/index.ts
  libs/api/student-explore/service/feature/src/lib/api-student-explore-service-feature.ts
  libs/api/student-explore/service/feature/src/lib/api-student-explore-service.module.ts
  libs/api/student-explore/service/feature/src/lib/queries/handlers/available.handler.ts
  libs/api/student-explore/service/feature/src/lib/queries/handlers/filter-students.handler.ts
  libs/api/student-explore/service/feature/src/lib/queries/handlers/index.ts
  libs/api/student-explore/service/feature/src/lib/queries/handlers/init-students.handler.ts
  libs/api/student-explore/service/feature/src/lib/queries/handlers/search-students-by-tag.handler.ts
  libs/api/student-explore/service/feature/src/lib/queries/handlers/search-students.handler.ts
  libs/api/student-explore/service/feature/src/lib/queries/impl/available.query.ts
  libs/api/student-explore/service/feature/src/lib/queries/impl/filter-students.query.ts
  libs/api/student-explore/service/feature/src/lib/queries/impl/init-students.query.ts
  libs/api/student-explore/service/feature/src/lib/queries/impl/search-students-by-tag.query.ts
  libs/api/student-explore/service/feature/src/lib/queries/impl/search-students.query.ts
  prisma/migrations/20220413145057_added_composite_key_to_the_user_tag_table/migration.sql
  prisma/schema.prisma
Labels: priority:high, scope:api, scope:db, status:needs-tests, type:feature, role:service-engineer, scope:repository

#761 ✅(Api: hosting) Adding Basic Testing
  libs/api/hosting/api/feature/src/lib/api-hosting.resolver.spec.ts
  libs/api/hosting/api/shared/data-access/src/lib/api-hosting.entity.spec.ts
  libs/api/hosting/service/feature/src/lib/api-hosting-service-feature.spec.ts
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
Labels: priority:high, scope:api, status:not-ready, type:test, role:api-engineer, role:tester

#767 ✅ (api): Added Unit tests to API, Service layer and Data Access. Fixed nest dependencies
  libs/api/notifications/api/feature/src/lib/api-notifications-api-feature.resolver.spec.ts
  libs/api/notifications/api/feature/src/lib/api-notifications-api-feature.resolver.ts
  libs/api/notifications/repository/data-access/src/lib/api-notifications-repository-data-access.modules.spec.ts
  libs/api/notifications/repository/data-access/src/lib/api-notifications-repository-data-access.repository.ts
  libs/client/notifications/feature/src/lib/notif-display/notif-display.component.ts
  prisma/migrations/20220414165833_blog_comment_amendment/migration.sql
Labels: priority:medium, scope:api, scope:client, scope:db, status:ready, type:fix, type:test, role:tester, role:developer-operations, scope:repository

#771 :bug: (UI) UI kit: Fixed margins of the button
  libs/client/shared/components/buttons/ui/src/lib/button/button.component.scss
Labels: priority:medium, status:needs-tests, type:cosmetic, type:enhance, type:fix, role:ui-engineer, scope:ui

#770 💄 🩹 (UI) : Touching up small details & Fixing button click problem
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.html
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.scss
Labels: priority:medium, status:not-ready, type:bug, type:cosmetic, role:ui-engineer, scope:ui

#774 :white_check_mark: (service) Initial Service Commit
  libs/api/blog/api/shared/entities/data-access/src/lib/api-blog-comment-entity.entity.ts
  libs/api/blog/api/shared/entities/data-access/src/lib/api-blog-entity.entity.ts
  libs/api/blog/api/shared/entities/data-access/src/lib/api-blog-media-entity.entity.ts
  libs/api/blog/repository/data-access/src/lib/api-blog-repository.repository.ts
  libs/api/blog/service/feature/src/lib/api-blog-service-feature-module.module.ts
  libs/api/blog/service/feature/src/lib/api-blog-service.service.ts
  libs/api/blog/service/feature/src/lib/blog/queries/api-blog-query-handler.handler.ts
  libs/api/blog/service/feature/src/lib/blog/queries/api-blog-query.query.ts
  libs/api/blog/service/feature/src/lib/commands/api-blog-command-handler.handler.ts
  libs/api/blog/service/feature/src/lib/commands/api-blog-command.command.ts
  libs/api/blog/service/feature/src/lib/queries/api-blog-query-handler.handler.ts
  libs/api/blog/service/feature/src/lib/queries/api-blog-query.query.ts
Labels: priority:high, scope:api, status:not-ready, type:feature, role:api-engineer

#773 (UI) Feature/shorts small explore page updates
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.html
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.scss
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.ts
Labels: priority:medium, status:ready, type:change, type:cosmetic, role:ui-engineer, scope:ui

#772 🎨🔥🚑 👽️(storage): Cleaned up the flow from api-resolver to repository
  libs/api/storage/repository/data-access/src/lib/FirebaseRepository.repository.ts
  libs/api/storage/repository/data-access/src/lib/StorageRepository.repository.ts
  libs/api/storage/service/feature/src/lib/api-storage-service-feature.ts
Labels: priority:high, scope:api, scope:db, status:needs-tests, type:bug, type:change, type:enhance, type:fix, type:test, role:api-engineer, role:service-engineer, role:data-engineer, scope:repository

#775 🚧 (services): Made getOne() and getAll() queries made
  libs/api/company-representative/api/feature/src/lib/api-company-representative.resolver.spec.ts
  libs/api/company-representative/service/feature/src/lib/api-company-representative-service--feature.module.ts
  libs/api/company-representative/service/feature/src/lib/api-company-representative.service.spec.ts
  libs/api/company-representative/service/feature/src/lib/api-company-representative.service.ts
  libs/api/company-representative/service/feature/src/lib/queries/handlers/getAllRepresentativesHandler.handler.ts
  libs/api/company-representative/service/feature/src/lib/queries/handlers/getOneRepresentativeHandler.handler.ts
  libs/api/company-representative/service/feature/src/lib/queries/handlers/index.ts
  libs/api/company-representative/service/feature/src/lib/queries/impl/getAllRepresentatives.query.ts
  libs/api/company-representative/service/feature/src/lib/queries/impl/getOneRepresentative.query.ts
Labels: priority:high, scope:api, status:ready, type:feature, role:service-engineer

#730 💄 (Student Profile): Created base Profile-card Component, Fixed Basic structure of UI
  libs/client/student-profile/feature/src/lib/achievements/achievements.component.sass
  libs/client/student-profile/feature/src/lib/client-student-profile-feature.module.ts
  libs/client/student-profile/feature/src/lib/profile-body/profile-body.component.html
  libs/client/student-profile/feature/src/lib/profile-card/profile-card.component.html
  libs/client/student-profile/feature/src/lib/profile-card/profile-card.component.sass
  libs/client/student-profile/feature/src/lib/profile-card/profile-card.component.spec.ts
  libs/client/student-profile/feature/src/lib/profile-card/profile-card.component.ts
Labels: priority:high, status:ready, type:cosmetic, role:ui-engineer, scope:ui

#781 ➕ 🎨 (Hosting) Added @nestjs/terminus and implemented DI
  libs/api/hosting/service/feature/src/lib/api-hosting-service-feature.ts
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
  package.json
  yarn.lock
Labels: priority:high, scope:api, status:ready, type:change, role:api-engineer

#724 🗃️ : (student-profiles): Added last of crud
  libs/api/student-profiles/repository/data-access/src/lib/api-student-profiles-repository-data-access.ts
Labels: priority:low, status:ready, type:change, role:data-engineer, scope:repository

#782 💄(Student Profile): Added Edit button to profile-card component
  libs/client/student-profile/feature/src/lib/profile-card/profile-card.component.html
  libs/client/student-profile/feature/src/lib/profile-card/profile-card.component.sass
Labels: priority:high, status:ready, type:cosmetic, role:ui-engineer, scope:ui

#783 ✅ (API/Storage): Added partial Resolver Test
  libs/api/storage/api/feature/src/lib/api-storage.resolver.spec.ts
Labels: priority:medium, scope:api, status:not-ready, type:enhance, role:api-engineer, role:tester, scope:cicd

#786 🐛 (schema): removed user_id from BlogComment
  prisma/migrations/20220414165833_blog_comment_amendment/migration.sql
  prisma/migrations/20220415095558_removed_user_id_from_blog/migration.sql
  prisma/schema.prisma
Labels: priority:high, scope:db, status:on-hold, type:bug, type:change, role:data-engineer

#769 ✅ (Hosting) Added unit test for ApiHosting class
  libs/api/hosting/api/shared/data-access/src/lib/api-hosting.entity.spec.ts
Labels: priority:medium, scope:api, status:ready, type:test, role:tester

#785 🚧 (services):Added a create User function
  libs/api/company-representative/service/feature/src/lib/api-company-representative-service--feature.module.ts
  libs/api/company-representative/service/feature/src/lib/api-company-representative.service.ts
  libs/api/company-representative/service/feature/src/lib/commands/handlers/createRepresentativeHandler.handler.ts
  libs/api/company-representative/service/feature/src/lib/commands/handlers/index.ts
  libs/api/company-representative/service/feature/src/lib/commands/impl/createRepresentative.command.ts
Labels: priority:high, scope:api, status:needs-tests, status:ready, type:feature, role:service-engineer

#788 :white_check_mark: Added query, query handler, command, command handler
  libs/api/blog/repository/data-access/src/lib/api-blog-repository.repository.ts
  libs/api/blog/service/feature/src/lib/commands/api-blog-command-handler.handler.ts
  libs/api/blog/service/feature/src/lib/commands/api-blog-command.command.ts
  libs/api/blog/service/feature/src/lib/queries/api-blog-query-handler.handler.ts
  libs/api/blog/service/feature/src/lib/queries/api-blog-query.query.ts
Labels: priority:medium, status:needs-tests, type:enhance, type:feature, role:service-engineer, scope:cicd, scope:repository

#789 :white_check_mark: Added functions to the blog command bus
  libs/api/blog/service/feature/src/lib/api-blog-service.service.ts
  libs/api/blog/service/feature/src/lib/queries/api-blog-query-handler.handler.ts
Labels: priority:low, status:needs-tests, type:feature, role:service-engineer, scope:repository

#791 :white_check_mark: Added functions to the blog query bus
  libs/api/blog/service/feature/src/lib/api-blog-service.service.ts
Labels: priority:medium, status:needs-tests, type:enhance, type:feature, role:service-engineer, scope:repository

#793 🚧 (repository): Added update and delete methods
  libs/api/company-representative/repository/data-access/src/lib/company-representative.repository.ts
Labels: priority:high, status:needs-tests, type:enhance, role:project-manager, role:data-engineer, scope:repository

#794 :white_check_mark: (Service) Implemented blog-service-feature-module
  libs/api/blog/service/feature/src/index.ts
  libs/api/blog/service/feature/src/lib/api-blog-service-feature-module.module.ts
  libs/api/blog/service/feature/src/lib/blog/queries/api-blog-query-handler.handler.ts
  libs/api/blog/service/feature/src/lib/blog/queries/api-blog-query.query.ts
Labels: priority:low, status:needs-tests, type:chore, type:enhance, type:feature, role:service-engineer, scope:repository

#792 :heavy_plus_sign: (UI) : yarn add @apollo/client apollo-angular
  package.json
  yarn.lock
Labels: priority:high, scope:api, status:not-ready, type:test, role:ui-engineer, scope:ui

#790 🚧(notifications): Fiddled with service layer, got API working
  libs/api/notifications/api/feature/src/lib/api-notifications-api-feature.module.ts
  libs/api/notifications/api/feature/src/lib/api-notifications-api-feature.resolver.ts
  libs/api/notifications/repository/data-access/src/lib/api-notifications-repository-data-access.repository.ts
  libs/api/notifications/service/feature/src/lib/api-notifications-service-feature.module.ts
  libs/api/notifications/service/feature/src/lib/api-notifications-service-feature.service.spec.ts
  libs/api/notifications/service/feature/src/lib/api-notifications-service-feature.service.ts
  libs/api/notifications/service/feature/src/lib/commands/send-mail.event.spec.ts
  libs/api/notifications/service/feature/src/lib/commands/send-mail.event.ts
  libs/api/notifications/service/feature/src/lib/commands/send-mail.handler.spec.ts
  libs/api/notifications/service/feature/src/lib/commands/send-mail.handler.ts
  libs/api/notifications/service/feature/src/lib/queries/api-notifications-service-queries.handlers.spec.ts
  libs/api/notifications/service/feature/src/lib/queries/api-notifications-service-queries.handlers.ts
  libs/api/notifications/service/feature/src/lib/queries/api-notifications-service-queries.query.spec.ts
  libs/api/notifications/service/feature/src/lib/queries/api-notifications-service-queries.query.ts
  libs/api/notifications/service/feature/src/lib/queries/handlers/get-all-user-notifications.handlers.ts
  libs/api/notifications/service/feature/src/lib/queries/impl/get-all-user-notifications.query.ts
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
Labels: priority:medium, scope:api, status:needs-tests, type:change, type:chore, role:api-engineer, role:service-engineer

#613 🎨 🔥 (ui): Add/export angular-material modules to shared UI
  libs/client/company-explore/feature/src/lib/client-company-explore-feature.module.spec.ts
  libs/client/company-explore/feature/src/lib/client-company-explore-feature.module.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-content/company-explore-card/company-explore-card.component.spec.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-content/company-explore-content.component.spec.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-feature.component.spec.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-operations-bar/company-explore-filter/company-explore-filter.component.spec.ts
  libs/client/company-explore/feature/src/lib/company-explore-feature/company-explore-operations-bar/company-explore-operations-bar.component.spec.ts
  libs/client/company-explore/feature/src/lib/materials/company-explore-material.module.ts
  libs/client/shared/assets/ui/src/lib/ui.module.ts
Labels: priority:medium, status:ready, type:refactor, role:ui-engineer, scope:ui

#710 🛂 🔥 (repo) Added repository data-access,needs tests,remove unneeded files
  libs/api/authorization/repository/data-access/src/lib/api-authorization-repository-admin.spec.ts
  libs/api/authorization/repository/data-access/src/lib/api-authorization-repository-admin.ts
  libs/api/authorization/repository/data-access/src/lib/api-authorization-repository-company.spec.ts
  libs/api/authorization/repository/data-access/src/lib/api-authorization-repository-company.ts
  libs/api/authorization/repository/data-access/src/lib/api-authorization-repository-data-access.module.ts
  libs/api/authorization/repository/data-access/src/lib/api-authorization-repository-user.spec.ts
  libs/api/authorization/repository/data-access/src/lib/api-authorization-repository-user.ts
Labels: priority:medium, scope:db, status:needs-tests, type:feature, role:data-engineer

#738 💄 (Student Profile): changes to drop-down menus
  libs/client/student-profile/feature/src/lib/client-student-profile-feature.module.ts
  libs/client/student-profile/feature/src/lib/degree/degree.component.html
  libs/client/student-profile/feature/src/lib/degree/degree.component.sass
  libs/client/student-profile/feature/src/lib/degree/degree.component.spec.ts
  libs/client/student-profile/feature/src/lib/degree/degree.component.ts
  libs/client/student-profile/feature/src/lib/employment-status/employment-status.component.html
  libs/client/student-profile/feature/src/lib/employment-status/employment-status.component.sass
  libs/client/student-profile/feature/src/lib/employment-status/employment-status.component.spec.ts
  libs/client/student-profile/feature/src/lib/employment-status/employment-status.component.ts
  libs/client/student-profile/feature/src/lib/location/location.component.html
  libs/client/student-profile/feature/src/lib/location/location.component.sass
  libs/client/student-profile/feature/src/lib/location/location.component.spec.ts
  libs/client/student-profile/feature/src/lib/location/location.component.ts
  libs/client/student-profile/feature/src/lib/profile-body/profile-body.component.html
  libs/client/student-profile/feature/src/lib/title/title.component.html
  libs/client/student-profile/feature/src/lib/title/title.component.sass
  libs/client/student-profile/feature/src/lib/title/title.component.spec.ts
  libs/client/student-profile/feature/src/lib/title/title.component.ts
Labels: priority:high, status:ready, type:cosmetic, role:ui-engineer, scope:ui

#802 💄 (UI) : updating company-representative-feature
  libs/client/company-representative/feature/src/lib/client-company-representative-feature.module.ts
  libs/client/company-representative/feature/src/lib/company-representative-contact/company-representative-contact.component.html
  libs/client/company-representative/feature/src/lib/company-representative-contact/company-representative-contact.component.ts
  libs/client/company-representative/feature/src/lib/company-representative-mock-student-explore-page/company-representative-mock-student-explore-page.component.html
  libs/client/company-representative/feature/src/lib/company-representative-mock-student-explore-page/company-representative-mock-student-explore-page.component.scss
  libs/client/company-representative/feature/src/lib/company-representative-mock-student-explore-page/company-representative-mock-student-explore-page.component.spec.ts
  libs/client/company-representative/feature/src/lib/company-representative-mock-student-explore-page/company-representative-mock-student-explore-page.component.ts
  libs/client/company-representative/feature/src/lib/company-representative-page/company-representative-page.component.html
Labels: priority:high, status:not-ready, type:feature, role:ui-engineer, scope:ui

#807 ✨ (repository): Added Test file for repository layer
  libs/api/company-representative/api/feature/src/lib/api-company-representative.resolver.ts
  libs/api/company-representative/api/shared/data-access/src/lib/api-company-representative.entity.ts
  libs/api/company-representative/repository/data-access/src/lib/company-representative.repository.spec.ts
  libs/api/company-representative/repository/data-access/src/lib/company-representative.repository.ts
  libs/api/company-representative/service/feature/src/lib/api-company-representative.service.ts
Labels: priority:medium, status:needs-tests, type:enhance, role:project-manager, role:data-engineer, scope:repository

#800 👔(service):added operations to link API with DB
  libs/api/student-profiles/api/feature/src/lib/api-student-profiles.resolver.spec.ts
  libs/api/student-profiles/api/feature/src/lib/api-student-profiles.resolver.ts
  libs/api/student-profiles/service/feature/src/lib/api-student-profiles.service.spec.ts
  libs/api/student-profiles/service/feature/src/lib/api-student-profiles.service.ts
  libs/api/student-profiles/service/feature/src/lib/commands/commands.service.spec.ts
  libs/api/student-profiles/service/feature/src/lib/commands/commands.service.ts
  libs/api/student-profiles/service/feature/src/lib/commands/events/create-student-profile.event.handler.ts
  libs/api/student-profiles/service/feature/src/lib/commands/events/create-student-profile.event.ts
  libs/api/student-profiles/service/feature/src/lib/commands/events/delete-student-profile.event.handler.ts
  libs/api/student-profiles/service/feature/src/lib/commands/events/delete-student-profile.event.ts
  libs/api/student-profiles/service/feature/src/lib/commands/events/find-student-profile.event.handler.ts
  libs/api/student-profiles/service/feature/src/lib/commands/events/find-student-profile.event.ts
  libs/api/student-profiles/service/feature/src/lib/commands/events/index.ts
  libs/api/student-profiles/service/feature/src/lib/commands/events/update-student-profile.event.handler.ts
  libs/api/student-profiles/service/feature/src/lib/commands/events/update-student-profile.event.ts
  libs/api/student-profiles/service/feature/src/lib/commands/handlers/createStudentProfile.handler.ts
  libs/api/student-profiles/service/feature/src/lib/commands/handlers/delete-student-profile.handler.ts
  libs/api/student-profiles/service/feature/src/lib/commands/handlers/find-student-profile.handler.ts
  libs/api/student-profiles/service/feature/src/lib/commands/handlers/index.ts
  libs/api/student-profiles/service/feature/src/lib/commands/handlers/update-student-profile.handler.ts
  libs/api/student-profiles/service/feature/src/lib/commands/impl/createStudentProfile.command.ts
  libs/api/student-profiles/service/feature/src/lib/commands/impl/delete-student-profile.command.ts
  libs/api/student-profiles/service/feature/src/lib/commands/impl/find-student-profile.command.ts
  libs/api/student-profiles/service/feature/src/lib/commands/impl/index.ts
  libs/api/student-profiles/service/feature/src/lib/commands/impl/update-student-profile.command.ts
  libs/api/student-profiles/service/feature/src/lib/models/index.ts
  libs/api/student-profiles/service/feature/src/lib/models/studentProfile.model.ts
  libs/api/student-profiles/service/feature/src/lib/queries/handlers/get-student-profile.handler.ts
  libs/api/student-profiles/service/feature/src/lib/queries/handlers/index.ts
  libs/api/student-profiles/service/feature/src/lib/queries/impl/get-student-profile.query.ts
  libs/api/student-profiles/service/feature/src/lib/queries/impl/index.ts
  libs/api/student-profiles/service/feature/src/lib/queries/queries.service.spec.ts
  libs/api/student-profiles/service/feature/src/lib/queries/queries.service.ts
  libs/api/student-profiles/service/feature/src/lib/student-profiles-service.module.ts
Labels: priority:high, scope:api, status:needs-info, type:enhance, type:feature, type:fix, role:service-engineer

#818 💄 🐛 (UI) : Fixing general responsive problems and search box disabling
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.html
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.scss
  libs/client/shorts/feature/src/lib/story-explore/story-explore.component.ts
Labels: priority:high, status:not-ready, type:test, role:ui-engineer, scope:ui

#819 🚧 (services): made a getOneRepresentative & getAllRepresentative func…
  libs/api/company-representative/repository/data-access/src/index.ts
  libs/api/company-representative/repository/data-access/src/lib/api-company-representative-repository-data-access.module.ts
  libs/api/company-representative/service/feature/src/lib/api-company-representative-service--feature.module.ts
  libs/api/company-representative/service/feature/src/lib/api-company-representative.service.ts
  libs/api/company-representative/service/feature/src/lib/queries/handlers/getAllRepresentativesHandler.handler.ts
  libs/api/company-representative/service/feature/src/lib/queries/handlers/getOneRepresentativeHandler.handler.ts
  libs/api/company-representative/service/feature/src/lib/queries/impl/getOneRepresentative.query.ts
Labels: priority:high, status:needs-tests, type:change, role:service-engineer, scope:repository

#813 🚧(notifications): Api implementation + service layer handlers
  libs/api/notifications/api/feature/src/lib/api-notifications-api-feature.module.ts
  libs/api/notifications/api/feature/src/lib/api-notifications-api-feature.resolver.ts
  libs/api/notifications/api/shared/src/lib/api-notifications-api-shared.entity.ts
  libs/api/notifications/api/shared/src/lib/api-notifications-api-shared.module.ts
  libs/api/notifications/repository/data-access/src/lib/api-notifications-repository-data-access.modules.spec.ts
  libs/api/notifications/repository/data-access/src/lib/api-notifications-repository-data-access.repository.ts
  libs/api/notifications/service/feature/src/index.ts
  libs/api/notifications/service/feature/src/lib/api-notifications-service-feature.module.ts
  libs/api/notifications/service/feature/src/lib/api-notifications-service-feature.service.spec.ts
  libs/api/notifications/service/feature/src/lib/api-notifications-service-feature.service.ts
  libs/api/notifications/service/feature/src/lib/commands/api-notifications-service-commands.command.ts
  libs/api/notifications/service/feature/src/lib/commands/api-notifications-service-commands.handlers.ts
  libs/api/notifications/service/feature/src/lib/events/send-mail.event.spec.ts
  libs/api/notifications/service/feature/src/lib/events/send-mail.event.ts
  libs/api/notifications/service/feature/src/lib/events/send-mail.handler.spec.ts
  libs/api/notifications/service/feature/src/lib/events/send-mail.handler.ts
  libs/api/notifications/service/feature/src/lib/queries/api-notifications-service-queries.handlers.ts
  libs/api/notifications/service/feature/src/lib/queries/api-notifications-service-queries.query.ts
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
Labels: priority:medium, scope:api, status:needs-tests, type:feature, role:api-engineer, role:service-engineer, scope:repository

#824 🗃️ (db): Added referential actions (cascade)
  prisma/migrations/20220415193625_added_referential_actions/migration.sql
  prisma/schema.prisma
  yarn.lock
Labels: priority:high, scope:db, status:ready, type:change, role:data-engineer, role:developer-operations
