Repository COS-301/graduates, pull requests merged in 2022-03, with the labels that each got.

#21 📝 (readme): Cleared fluff, added basic scripts
  README.md
Labels: priority:medium, status:ready, type:chore

#23 🗃️ (prisma): Added Test entity
  prisma/migrations/20220311085616_adding_test_entity/migration.sql
  prisma/schema.prisma
Labels: priority:low, scope:db, status:needs-info, role:data-engineer

#170 👽️✨ 🤡 (Graphql): Mock Storage Api , Adding Storage Api Module To Shell
  .vscode/settings.json
  apps/client-e2e/project.json
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
  libs/api/storage/api/feature/.babelrc
  libs/api/storage/api/feature/.eslintrc.json
  libs/api/storage/api/feature/README.md
  libs/api/storage/api/feature/jest.config.js
  libs/api/storage/api/feature/project.json
  libs/api/storage/api/feature/src/index.ts
  libs/api/storage/api/feature/src/lib/api-storage.module.ts
  libs/api/storage/api/feature/src/lib/api-storage.resolver.ts
  libs/api/storage/api/feature/tsconfig.json
  libs/api/storage/api/feature/tsconfig.lib.json
  libs/api/storage/api/feature/tsconfig.spec.json
  libs/api/storage/api/shared/data-access/.eslintrc.json
  libs/api/storage/api/shared/data-access/README.md
  libs/api/storage/api/shared/data-access/jest.config.js
  libs/api/storage/api/shared/data-access/project.json
  libs/api/storage/api/shared/data-access/src/index.ts
  libs/api/storage/api/shared/data-access/src/lib/api-storage-api-shared-data-access.module.ts
  libs/api/storage/api/shared/data-access/src/lib/api-storage.entity.ts
  libs/api/storage/api/shared/data-access/src/test-setup.ts
  libs/api/storage/api/shared/data-access/tsconfig.json
  libs/api/storage/api/shared/data-access/tsconfig.lib.json
  libs/api/storage/api/shared/data-access/tsconfig.spec.json
  libs/api/storage/service/feature/.babelrc
  libs/api/storage/service/feature/.eslintrc.json
  libs/api/storage/service/feature/README.md
  libs/api/storage/service/feature/jest.config.js
  libs/api/storage/service/feature/project.json
  libs/api/storage/service/feature/src/index.ts
  libs/api/storage/service/feature/src/lib/api-storage-service-feature.ts
  libs/api/storage/service/feature/tsconfig.json
  libs/api/storage/service/feature/tsconfig.lib.json
  libs/api/storage/service/feature/tsconfig.spec.json
  nx.json
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: priority:medium, scope:api, status:needs-info, role:api-engineer

#213 🗃(prisma): Changed id's and altered blog relation
  .env
  prisma/migrations/20220322100557_altered_blog_fixed_ids/migration.sql
  prisma/schema.prisma
Labels: priority:medium, scope:db, status:ready, type:refactor, role:data-engineer

#226 ✔️(CICD): Initial github action yml file
  .github/workflows/index.yml
Labels: status:not-ready, type:test, role:tester

#220 ✨(shorts-api):Created mock api for shorts
  libs/api/shared/services/prisma/data-access/.babelrc
  libs/api/shared/services/prisma/data-access/.eslintrc.json
  libs/api/shared/services/prisma/data-access/README.md
  libs/api/shared/services/prisma/data-access/jest.config.js
  libs/api/shared/services/prisma/data-access/project.json
  libs/api/shared/services/prisma/data-access/src/index.ts
  libs/api/shared/services/prisma/data-access/src/lib/ApiPrismaService.service.ts
  libs/api/shared/services/prisma/data-access/tsconfig.json
  libs/api/shared/services/prisma/data-access/tsconfig.lib.json
  libs/api/shared/services/prisma/data-access/tsconfig.spec.json
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
  libs/api/shorts/api/feature/.babelrc
  libs/api/shorts/api/feature/.eslintrc.json
  libs/api/shorts/api/feature/README.md
  libs/api/shorts/api/feature/jest.config.js
  libs/api/shorts/api/feature/project.json
  libs/api/shorts/api/feature/src/index.ts
  libs/api/shorts/api/feature/src/lib/ApiShortsResolver.resolver.ts
  libs/api/shorts/api/feature/src/lib/api-shorts-api-feature.module.ts
  libs/api/shorts/api/feature/tsconfig.json
  libs/api/shorts/api/feature/tsconfig.lib.json
  libs/api/shorts/api/feature/tsconfig.spec.json
  libs/api/shorts/api/shared/entities/data-access/.babelrc
  libs/api/shorts/api/shared/entities/data-access/.eslintrc.json
  libs/api/shorts/api/shared/entities/data-access/README.md
  libs/api/shorts/api/shared/entities/data-access/jest.config.js
  libs/api/shorts/api/shared/entities/data-access/project.json
  libs/api/shorts/api/shared/entities/data-access/src/index.ts
  libs/api/shorts/api/shared/entities/data-access/src/lib/ApiShortsEntity.entity.ts
  libs/api/shorts/api/shared/entities/data-access/tsconfig.json
  libs/api/shorts/api/shared/entities/data-access/tsconfig.lib.json
  libs/api/shorts/api/shared/entities/data-access/tsconfig.spec.json
  libs/api/shorts/repository/data-access/.babelrc
  libs/api/shorts/repository/data-access/.eslintrc.json
  libs/api/shorts/repository/data-access/README.md
  libs/api/shorts/repository/data-access/jest.config.js
  libs/api/shorts/repository/data-access/project.json
  libs/api/shorts/repository/data-access/src/index.ts
  libs/api/shorts/repository/data-access/src/lib/ApiShortsRepository.repository.ts
  libs/api/shorts/repository/data-access/tsconfig.json
  libs/api/shorts/repository/data-access/tsconfig.lib.json
  libs/api/shorts/repository/data-access/tsconfig.spec.json
  libs/api/shorts/service/feature/.babelrc
  libs/api/shorts/service/feature/.eslintrc.json
  libs/api/shorts/service/feature/README.md
  libs/api/shorts/service/feature/jest.config.js
  libs/api/shorts/service/feature/project.json
  libs/api/shorts/service/feature/src/index.ts
  libs/api/shorts/service/feature/src/lib/ApiShortsService.service.ts
  libs/api/shorts/service/feature/src/lib/queries/ApiShortsFetchAllQuery.query.ts
  libs/api/shorts/service/feature/src/lib/queries/handlers/ApiShortsFetchAllHandler.handler.ts
  libs/api/shorts/service/feature/tsconfig.json
  libs/api/shorts/service/feature/tsconfig.lib.json
  libs/api/shorts/service/feature/tsconfig.spec.json
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: priority:medium, status:ready, type:feature, role:api-engineer

#234 ✨(shorts-api):Updated shorts entity
  libs/api/shorts/api/shared/entities/data-access/src/lib/ApiShortsEntity.entity.ts
  libs/api/shorts/repository/data-access/src/lib/ApiShortsRepository.repository.ts
  libs/api/shorts/service/feature/src/index.ts
  libs/api/shorts/service/feature/src/lib/queries/impl/ApiShortsFetchAllQuery.query.ts
Labels: priority:medium, status:ready, type:change, role:api-engineer

#236 ✅ Added Caching of Node modules.
  .github/workflows/index.yml
  .github/workflows/nxtest.yml
Labels: priority:medium, status:ready, type:enhance, role:developer-operations

#239 ✅ Added yarn package install
  .github/workflows/nxtest.yml
Labels: priority:medium, status:ready, type:enhance, role:developer-operations

#240 ✅ Added affected tag to ns
  .github/workflows/nxtest.yml
Labels: priority:medium, status:ready, type:enhance, role:developer-operations

#224 🗃 (prisma): changed nomenclature
  prisma/migrations/20220322143333_fixed_nomenclature/migration.sql
  prisma/schema.prisma
Labels: priority:medium, scope:db, type:refactor, role:data-engineer

#242 ✅ Added provisional all test to reusable workflow
  .github/workflows/nxtest.yml
Labels: priority:medium, status:ready, type:enhance, role:developer-operations

#285 📝(repo): add a code of conduct
  CODE_OF_CONDUCT.md
Labels: priority:low, status:ready, type:documentation, role:developer-operations

#279 ✨ (shorts-api): Fixed imports
  libs/api/shorts/api/feature/src/lib/ApiShortsResolver.resolver.ts
  libs/api/shorts/api/shared/entities/data-access/src/lib/ApiShortsEntity.entity.ts
Labels: priority:medium, type:fix, role:api-engineer

#287 🤡 ✨(CompanyProfilePage): Added Mock API
  libs/api/companyprofilepage/api/feature/.babelrc
  libs/api/companyprofilepage/api/feature/.eslintrc.json
  libs/api/companyprofilepage/api/feature/README.md
  libs/api/companyprofilepage/api/feature/jest.config.js
  libs/api/companyprofilepage/api/feature/project.json
  libs/api/companyprofilepage/api/feature/src/index.ts
  libs/api/companyprofilepage/api/feature/src/lib/api-companyprofilepage.module.ts
  libs/api/companyprofilepage/api/feature/src/lib/api-companyprofilepage.resolver.ts
  libs/api/companyprofilepage/api/feature/tsconfig.json
  libs/api/companyprofilepage/api/feature/tsconfig.lib.json
  libs/api/companyprofilepage/api/feature/tsconfig.spec.json
  libs/api/companyprofilepage/api/shared/data-access/.babelrc
  libs/api/companyprofilepage/api/shared/data-access/.eslintrc.json
  libs/api/companyprofilepage/api/shared/data-access/README.md
  libs/api/companyprofilepage/api/shared/data-access/jest.config.js
  libs/api/companyprofilepage/api/shared/data-access/project.json
  libs/api/companyprofilepage/api/shared/data-access/src/index.ts
  libs/api/companyprofilepage/api/shared/data-access/src/lib/api-companyprofilepage-api-shared-data-access.module.ts
  libs/api/companyprofilepage/api/shared/data-access/src/lib/api-companyprofilepage.entity.ts
  libs/api/companyprofilepage/api/shared/data-access/tsconfig.json
  libs/api/companyprofilepage/api/shared/data-access/tsconfig.lib.json
  libs/api/companyprofilepage/api/shared/data-access/tsconfig.spec.json
  libs/api/companyprofilepage/service/feature/.babelrc
  libs/api/companyprofilepage/service/feature/.eslintrc.json
  libs/api/companyprofilepage/service/feature/README.md
  libs/api/companyprofilepage/service/feature/jest.config.js
  libs/api/companyprofilepage/service/feature/project.json
  libs/api/companyprofilepage/service/feature/src/index.ts
  libs/api/companyprofilepage/service/feature/src/lib/api-companyprofilepage-service-feature.ts
  libs/api/companyprofilepage/service/feature/tsconfig.json
  libs/api/companyprofilepage/service/feature/tsconfig.lib.json
  libs/api/companyprofilepage/service/feature/tsconfig.spec.json
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
  tsconfig.base.json
  workspace.json
Labels: priority:medium, scope:api, type:feature, role:api-engineer

#217 🤡(request-for-access): Mocking check status
  libs/api/access-status/api/feature/.babelrc
  libs/api/access-status/api/feature/.eslintrc.json
  libs/api/access-status/api/feature/README.md
  libs/api/access-status/api/feature/jest.config.js
  libs/api/access-status/api/feature/project.json
  libs/api/access-status/api/feature/src/index.ts
  libs/api/access-status/api/feature/src/lib/api-access-status.entity.ts
  libs/api/access-status/api/feature/src/lib/api-access-status.module.ts
  libs/api/access-status/api/feature/src/lib/api-access-status.resolver.ts
  libs/api/access-status/api/feature/src/lib/api-access-status.service.ts
  libs/api/access-status/api/feature/tsconfig.json
  libs/api/access-status/api/feature/tsconfig.lib.json
  libs/api/access-status/api/feature/tsconfig.spec.json
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
  tsconfig.base.json
  workspace.json
Labels: priority:low, scope:api, status:not-ready, type:chore, role:api-engineer

#289 Revert "Revert "✅ Added provisional all test to reusable workflow""
  .github/workflows/nxtest.yml
Labels: priority:high, status:ready, type:change, role:developer-operations

#295 💚 Added workflow dispatch
  .github/workflows/index.yml
Labels: priority:medium, status:ready, type:chore, role:developer-operations

#179 ✨ (up-integration): Added initial stub
  libs/api/upintegration/api/feature/.babelrc
  libs/api/upintegration/api/feature/.eslintrc.json
  libs/api/upintegration/api/feature/README.md
  libs/api/upintegration/api/feature/jest.config.js
  libs/api/upintegration/api/feature/project.json
  libs/api/upintegration/api/feature/src/index.ts
  libs/api/upintegration/api/feature/src/lib/api-upintegration.module.ts
  libs/api/upintegration/api/feature/src/lib/api-upintegration.resolver.ts
  libs/api/upintegration/api/feature/tsconfig.json
  libs/api/upintegration/api/feature/tsconfig.lib.json
  libs/api/upintegration/api/feature/tsconfig.spec.json
  libs/api/upintegration/api/shared/data-access/.babelrc
  libs/api/upintegration/api/shared/data-access/.eslintrc.json
  libs/api/upintegration/api/shared/data-access/README.md
  libs/api/upintegration/api/shared/data-access/jest.config.js
  libs/api/upintegration/api/shared/data-access/project.json
  libs/api/upintegration/api/shared/data-access/src/index.ts
  libs/api/upintegration/api/shared/data-access/src/lib/api-upintegration-api-shared-data-access.module.ts
  libs/api/upintegration/api/shared/data-access/src/lib/api-upintegration.entity.ts
  libs/api/upintegration/api/shared/data-access/src/test-setup.ts
  libs/api/upintegration/api/shared/data-access/tsconfig.json
  libs/api/upintegration/api/shared/data-access/tsconfig.lib.json
  libs/api/upintegration/api/shared/data-access/tsconfig.spec.json
  libs/api/upintegration/service/feature/.babelrc
  libs/api/upintegration/service/feature/.eslintrc.json
  libs/api/upintegration/service/feature/README.md
  libs/api/upintegration/service/feature/jest.config.js
  libs/api/upintegration/service/feature/project.json
  libs/api/upintegration/service/feature/src/index.ts
  libs/api/upintegration/service/feature/src/lib/api-upintegration-service-feature.ts
  libs/api/upintegration/service/feature/tsconfig.json
  libs/api/upintegration/service/feature/tsconfig.lib.json
  libs/api/upintegration/service/feature/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: priority:low, scope:api, status:ready, role:api-engineer

#296 🤡(hosting): Mock API for status page
  libs/api/hosting/api/feature/.babelrc
  libs/api/hosting/api/feature/.eslintrc.json
  libs/api/hosting/api/feature/README.md
  libs/api/hosting/api/feature/jest.config.js
  libs/api/hosting/api/feature/project.json
  libs/api/hosting/api/feature/src/index.ts
  libs/api/hosting/api/feature/src/lib/api-hosting.module.ts
  libs/api/hosting/api/feature/src/lib/api-hosting.resolver.ts
  libs/api/hosting/api/feature/tsconfig.json
  libs/api/hosting/api/feature/tsconfig.lib.json
  libs/api/hosting/api/feature/tsconfig.spec.json
  libs/api/hosting/api/shared/data-access/.eslintrc.json
  libs/api/hosting/api/shared/data-access/README.md
  libs/api/hosting/api/shared/data-access/jest.config.js
  libs/api/hosting/api/shared/data-access/project.json
  libs/api/hosting/api/shared/data-access/src/index.ts
  libs/api/hosting/api/shared/data-access/src/lib/api-hosting-api-shared-data-access.module.ts
  libs/api/hosting/api/shared/data-access/src/lib/api-hosting.entity.ts
  libs/api/hosting/api/shared/data-access/tsconfig.json
  libs/api/hosting/api/shared/data-access/tsconfig.lib.json
  libs/api/hosting/api/shared/data-access/tsconfig.spec.json
  libs/api/hosting/service/feature/.eslintrc.json
  libs/api/hosting/service/feature/README.md
  libs/api/hosting/service/feature/jest.config.js
  libs/api/hosting/service/feature/project.json
  libs/api/hosting/service/feature/src/index.ts
  libs/api/hosting/service/feature/src/lib/api-hosting-service-feature.ts
  libs/api/hosting/service/feature/tsconfig.json
  libs/api/hosting/service/feature/tsconfig.lib.json
  libs/api/hosting/service/feature/tsconfig.spec.json
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: priority:medium, scope:api, status:ready, type:feature, role:api-engineer

#299 ✉️ Adding comments to the index and nxtest yml files
  .github/workflows/index.yml
  .github/workflows/nxtest.yml
Labels: priority:low, status:ready, type:chore, type:documentation

#278 ✨ (architecture): Added service library
  libs/api/adminconsole/service/feature/.babelrc
  libs/api/adminconsole/service/feature/.eslintrc.json
  libs/api/adminconsole/service/feature/README.md
  libs/api/adminconsole/service/feature/jest.config.js
  libs/api/adminconsole/service/feature/project.json
  libs/api/adminconsole/service/feature/src/index.ts
  libs/api/adminconsole/service/feature/src/lib/api-adminconsole-service-feature.module.ts
  libs/api/adminconsole/service/feature/src/lib/api-adminconsole-service-feature.service.spec.ts
  libs/api/adminconsole/service/feature/src/lib/api-adminconsole-service-feature.service.ts
  libs/api/adminconsole/service/feature/tsconfig.json
  libs/api/adminconsole/service/feature/tsconfig.lib.json
  libs/api/adminconsole/service/feature/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: priority:high, scope:api, type:feature

#189 ✨ (student-profiles): Mock silo
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
  libs/api/student-profiles/api/feature/.babelrc
  libs/api/student-profiles/api/feature/.eslintrc.json
  libs/api/student-profiles/api/feature/README.md
  libs/api/student-profiles/api/feature/jest.config.js
  libs/api/student-profiles/api/feature/project.json
  libs/api/student-profiles/api/feature/src/index.ts
  libs/api/student-profiles/api/feature/src/lib/student-profiles.module.ts
  libs/api/student-profiles/api/feature/src/lib/student.resolver.spec.ts
  libs/api/student-profiles/api/feature/src/lib/student.resolver.ts
  libs/api/student-profiles/api/feature/tsconfig.json
  libs/api/student-profiles/api/feature/tsconfig.lib.json
  libs/api/student-profiles/api/feature/tsconfig.spec.json
  libs/api/student-profiles/api/shared/data-access/.babelrc
  libs/api/student-profiles/api/shared/data-access/.eslintrc.json
  libs/api/student-profiles/api/shared/data-access/README.md
  libs/api/student-profiles/api/shared/data-access/jest.config.js
  libs/api/student-profiles/api/shared/data-access/project.json
  libs/api/student-profiles/api/shared/data-access/src/index.ts
  libs/api/student-profiles/api/shared/data-access/src/lib/student-profiles.module.ts
  libs/api/student-profiles/api/shared/data-access/src/lib/student.entity.ts
  libs/api/student-profiles/api/shared/data-access/tsconfig.json
  libs/api/student-profiles/api/shared/data-access/tsconfig.lib.json
  libs/api/student-profiles/api/shared/data-access/tsconfig.spec.json
  libs/api/student-profiles/service/feature/.babelrc
  libs/api/student-profiles/service/feature/.eslintrc.json
  libs/api/student-profiles/service/feature/README.md
  libs/api/student-profiles/service/feature/jest.config.js
  libs/api/student-profiles/service/feature/project.json
  libs/api/student-profiles/service/feature/src/index.ts
  libs/api/student-profiles/service/feature/src/lib/student-api.service.spec.ts
  libs/api/student-profiles/service/feature/src/lib/student-api.service.ts
  libs/api/student-profiles/service/feature/src/lib/student-profiles-service.module.ts
  libs/api/student-profiles/service/feature/tsconfig.json
  libs/api/student-profiles/service/feature/tsconfig.lib.json
  libs/api/student-profiles/service/feature/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: priority:medium, scope:api, status:not-ready, role:api-engineer

#310 ✨(company-representative) : Mock API
  libs/api/company-representative/api/feature/.eslintrc.json
  libs/api/company-representative/api/feature/README.md
  libs/api/company-representative/api/feature/jest.config.js
  libs/api/company-representative/api/feature/project.json
  libs/api/company-representative/api/feature/src/index.ts
  libs/api/company-representative/api/feature/src/lib/api-company-representative-api-feature.module.ts
  libs/api/company-representative/api/feature/src/lib/api-company-representative.resolver.spec.ts
  libs/api/company-representative/api/feature/src/lib/api-company-representative.resolver.ts
  libs/api/company-representative/api/feature/tsconfig.json
  libs/api/company-representative/api/feature/tsconfig.lib.json
  libs/api/company-representative/api/feature/tsconfig.spec.json
  libs/api/company-representative/api/shared/data-access/.eslintrc.json
  libs/api/company-representative/api/shared/data-access/README.md
  libs/api/company-representative/api/shared/data-access/jest.config.js
  libs/api/company-representative/api/shared/data-access/project.json
  libs/api/company-representative/api/shared/data-access/src/index.ts
  libs/api/company-representative/api/shared/data-access/src/lib/api-company-representative-api-shared--data-access.module.ts
  libs/api/company-representative/api/shared/data-access/src/lib/api-company-representative-create.entity.ts
  libs/api/company-representative/api/shared/data-access/src/lib/api-company-representative.entity.ts
  libs/api/company-representative/api/shared/data-access/tsconfig.json
  libs/api/company-representative/api/shared/data-access/tsconfig.lib.json
  libs/api/company-representative/api/shared/data-access/tsconfig.spec.json
  libs/api/company-representative/service/feature/.eslintrc.json
  libs/api/company-representative/service/feature/README.md
  libs/api/company-representative/service/feature/jest.config.js
  libs/api/company-representative/service/feature/project.json
  libs/api/company-representative/service/feature/src/index.ts
  libs/api/company-representative/service/feature/src/lib/api-company-representative-service--feature.module.ts
  libs/api/company-representative/service/feature/src/lib/api-company-representative.service.spec.ts
  libs/api/company-representative/service/feature/src/lib/api-company-representative.service.ts
  libs/api/company-representative/service/feature/tsconfig.json
  libs/api/company-representative/service/feature/tsconfig.lib.json
  libs/api/company-representative/service/feature/tsconfig.spec.json
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: scope:api, role:api-engineer

#320 📝(repo): Create contributing guidelines
  CONTRIBUTING.md
Labels: priority:low, status:needs-info, type:documentation, role:developer-operations

#328 🚚 (student-profiles): Rename files and objects to fit naming scheme
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
  libs/api/student-profiles/api/feature/src/index.ts
  libs/api/student-profiles/api/feature/src/lib/api-student-profiles.module.ts
  libs/api/student-profiles/api/feature/src/lib/api-student-profiles.resolver.spec.ts
  libs/api/student-profiles/api/feature/src/lib/api-student-profiles.resolver.ts
  libs/api/student-profiles/api/feature/src/lib/student-profiles.module.ts
  libs/api/student-profiles/api/feature/src/lib/student.resolver.spec.ts
  libs/api/student-profiles/api/shared/data-access/src/index.ts
  libs/api/student-profiles/api/shared/data-access/src/lib/api-student-profiles.entity.spec.ts
  libs/api/student-profiles/api/shared/data-access/src/lib/api-student-profiles.entity.ts
  libs/api/student-profiles/api/shared/data-access/src/lib/api-student-profiles.module.ts
  libs/api/student-profiles/service/feature/src/index.ts
  libs/api/student-profiles/service/feature/src/lib/api-student-profiles.service.spec.ts
  libs/api/student-profiles/service/feature/src/lib/api-student-profiles.service.ts
  libs/api/student-profiles/service/feature/src/lib/student-api.service.spec.ts
  libs/api/student-profiles/service/feature/src/lib/student-profiles-service.module.ts
Labels: priority:medium, scope:api, status:ready, role:api-engineer

#309 🏗️ (architecture) - bulding the notifications service layer
  libs/api/hosting/api/shared/data-access/project.json
  libs/api/notifications/api/feature/.babelrc
  libs/api/notifications/api/feature/.eslintrc.json
  libs/api/notifications/api/feature/README.md
  libs/api/notifications/api/feature/jest.config.js
  libs/api/notifications/api/feature/package.json
  libs/api/notifications/api/feature/project.json
  libs/api/notifications/api/feature/src/index.ts
  libs/api/notifications/api/feature/src/lib/api-notifications-api-feature.controller.spec.ts
  libs/api/notifications/api/feature/src/lib/api-notifications-api-feature.controller.ts
  libs/api/notifications/api/feature/src/lib/api-notifications-api-feature.module.ts
  libs/api/notifications/api/feature/tsconfig.json
  libs/api/notifications/api/feature/tsconfig.lib.json
  libs/api/notifications/api/feature/tsconfig.spec.json
  libs/api/notifications/service/feature/.eslintrc.json
  libs/api/notifications/service/feature/README.md
  libs/api/notifications/service/feature/jest.config.js
  libs/api/notifications/service/feature/project.json
  libs/api/notifications/service/feature/src/index.ts
  libs/api/notifications/service/feature/src/lib/api-notifications-service-feature.module.ts
  libs/api/notifications/service/feature/src/lib/api-notifications-service-feature.service.spec.ts
  libs/api/notifications/service/feature/src/lib/api-notifications-service-feature.service.ts
  libs/api/notifications/service/feature/tsconfig.json
  libs/api/notifications/service/feature/tsconfig.lib.json
  libs/api/notifications/service/feature/tsconfig.spec.json
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: priority:medium, status:ready, role:service-engineer

#311 ✅ 🗃️ (graphql) Added mock repository data-access and tests
  libs/api/authorization/repository/data-access/src/lib/api-authorization-repository-admin.spec.ts
  libs/api/authorization/repository/data-access/src/lib/api-authorization-repository-admin.ts
  libs/api/authorization/repository/data-access/src/lib/api-authorization-repository-company.spec.ts
  libs/api/authorization/repository/data-access/src/lib/api-authorization-repository-company.ts
  libs/api/authorization/repository/data-access/src/lib/api-authorization-repository-user.spec.ts
  libs/api/authorization/repository/data-access/src/lib/api-authorization-repository-user.ts
  libs/api/authorization/repository/shared/src/lib/authorization-data-access.entity.ts
Labels: priority:low, scope:db, role:data-engineer

#337 ✨(Request access): added mock feature to request access to various student personal details
  libs/api/access-status/api/feature/src/lib/api-access-status.service.ts
  libs/api/request-access/api/feature/.babelrc
  libs/api/request-access/api/feature/.eslintrc.json
  libs/api/request-access/api/feature/README.md
  libs/api/request-access/api/feature/jest.config.js
  libs/api/request-access/api/feature/project.json
  libs/api/request-access/api/feature/src/index.ts
  libs/api/request-access/api/feature/src/lib/api-request-access.entity.ts
  libs/api/request-access/api/feature/src/lib/api-request-access.module.ts
  libs/api/request-access/api/feature/src/lib/api-request-access.resolver.ts
  libs/api/request-access/api/feature/src/lib/api-request-access.service.ts
  libs/api/request-access/api/feature/tsconfig.json
  libs/api/request-access/api/feature/tsconfig.lib.json
  libs/api/request-access/api/feature/tsconfig.spec.json
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
  tsconfig.base.json
Labels: priority:low, scope:api, type:chore, role:api-engineer

#370 🤡✨(StudentExplore-API) Mock API/Initial Design Version 1 Final for Student Explore
  libs/api/student-explore/api/feature/.babelrc
  libs/api/student-explore/api/feature/.eslintrc.json
  libs/api/student-explore/api/feature/README.md
  libs/api/student-explore/api/feature/jest.config.js
  libs/api/student-explore/api/feature/project.json
  libs/api/student-explore/api/feature/src/index.ts
  libs/api/student-explore/api/feature/src/lib/api-student-explore.module.ts
  libs/api/student-explore/api/feature/src/lib/api-student-explore.resolver.ts
  libs/api/student-explore/api/feature/tsconfig.json
  libs/api/student-explore/api/feature/tsconfig.lib.json
  libs/api/student-explore/api/feature/tsconfig.spec.json
  libs/api/student-explore/api/shared/data-access/.eslintrc.json
  libs/api/student-explore/api/shared/data-access/README.md
  libs/api/student-explore/api/shared/data-access/jest.config.js
  libs/api/student-explore/api/shared/data-access/project.json
  libs/api/student-explore/api/shared/data-access/src/index.ts
  libs/api/student-explore/api/shared/data-access/src/lib/api-student-explore-api-shared-data-access.module.ts
  libs/api/student-explore/api/shared/data-access/src/lib/api-student-explore.entity.ts
  libs/api/student-explore/api/shared/data-access/tsconfig.json
  libs/api/student-explore/api/shared/data-access/tsconfig.lib.json
  libs/api/student-explore/api/shared/data-access/tsconfig.spec.json
  libs/api/student-explore/repository/data-access/.eslintrc.json
  libs/api/student-explore/repository/data-access/README.md
  libs/api/student-explore/repository/data-access/jest.config.js
  libs/api/student-explore/repository/data-access/project.json
  libs/api/student-explore/repository/data-access/src/index.ts
  libs/api/student-explore/repository/data-access/src/lib/api-student-explore-repository-data-access.module.ts
  libs/api/student-explore/repository/data-access/tsconfig.json
  libs/api/student-explore/repository/data-access/tsconfig.lib.json
  libs/api/student-explore/repository/data-access/tsconfig.spec.json
  libs/api/student-explore/service/feature/.eslintrc.json
  libs/api/student-explore/service/feature/README.md
  libs/api/student-explore/service/feature/jest.config.js
  libs/api/student-explore/service/feature/project.json
  libs/api/student-explore/service/feature/src/index.ts
  libs/api/student-explore/service/feature/src/lib/api-student-explore-service-feature.ts
  libs/api/student-explore/service/feature/tsconfig.json
  libs/api/student-explore/service/feature/tsconfig.lib.json
  libs/api/student-explore/service/feature/tsconfig.spec.json
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: priority:high, scope:api, status:ready, type:feature, role:api-engineer

#334 🏷️ 🗃️ (graphql)Added enums for entities
  libs/api/authorization/repository/data-access/src/lib/api-authorization-repository-admin.spec.ts
  libs/api/authorization/repository/data-access/src/lib/api-authorization-repository-company.spec.ts
  libs/api/authorization/repository/data-access/src/lib/api-authorization-repository-user.spec.ts
  libs/api/authorization/repository/data-access/src/lib/api-authorization-repository-user.ts
  libs/api/authorization/repository/shared/src/lib/authorization-data-access.entity.ts
Labels: priority:low, scope:db, role:data-engineer

#394 🤡(request-for-access): Updated mock to be able to received input during api call.
  libs/api/access-status/api/feature/src/lib/api-access-status.resolver.ts
  libs/api/access-status/api/feature/src/lib/api-access-status.service.ts
Labels: priority:low, scope:api, type:chore, role:api-engineer
